caAERS/software/grid/introduce/AdverseEventEnterpriseService/schema/AdverseEventEnterpriseService/AEAssociate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns8="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Query/types" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns10="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAdvancedQuery/types" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="uri:iso.org:21090" xmlns:ns7="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/types" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="http://ess.caaers.nci.nih.gov" xmlns:ns2="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/types" xmlns:ns9="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/types" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" name="AEAssociate" targetNamespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Query/types" schemaLocation="./QueryTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAdvancedQuery/types" schemaLocation="./AEAdvancedQueryTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/types" schemaLocation="./ManagementTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://ess.caaers.nci.nih.gov" schemaLocation="./AE-PSM.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/types" schemaLocation="./AdverseEventEnterpriseServiceTypes.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/types" schemaLocation="./AEAssociateTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <element name="AssociateAdverseEventToStudyRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="studyIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AssociateAdverseEventToStudyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DissociateAdverseEventFromStudyRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="studyIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DissociateAdverseEventFromStudyResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AssociateAdditionalInformationToAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="additionalInformation">
              <complexType>
                <sequence>
                  <element ref="ns0:AdditionalInformation" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AssociateAdditionalInformationToAdverseEventResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DissociateAdditionalInformationFromAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="additionalInformation">
              <complexType>
                <sequence>
                  <element ref="ns0:AdditionalInformation" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DissociateAdditionalInformationFromAdverseEventResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AssociateTreatmentInformationToAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="treatmentInformation">
              <complexType>
                <sequence>
                  <element ref="ns0:TreatmentInformation" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AssociateTreatmentInformationToAdverseEventResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DisassociateTreatmentInformationFromAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="treatmentInformation">
              <complexType>
                <sequence>
                  <element ref="ns0:TreatmentInformation" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DisassociateTreatmentInformationFromAdverseEventResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AEAssociateResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="AssociateAdverseEventToStudyRequest">
    <part name="parameters" element="tns:AssociateAdverseEventToStudyRequest" />
  </message>
  <message name="AssociateAdverseEventToStudyResponse">
    <part name="parameters" element="tns:AssociateAdverseEventToStudyResponse" />
  </message>
  <message name="DissociateAdverseEventFromStudyRequest">
    <part name="parameters" element="tns:DissociateAdverseEventFromStudyRequest" />
  </message>
  <message name="DissociateAdverseEventFromStudyResponse">
    <part name="parameters" element="tns:DissociateAdverseEventFromStudyResponse" />
  </message>
  <message name="AssociateAdditionalInformationToAdverseEventRequest">
    <part name="parameters" element="tns:AssociateAdditionalInformationToAdverseEventRequest" />
  </message>
  <message name="AssociateAdditionalInformationToAdverseEventResponse">
    <part name="parameters" element="tns:AssociateAdditionalInformationToAdverseEventResponse" />
  </message>
  <message name="DissociateAdditionalInformationFromAdverseEventRequest">
    <part name="parameters" element="tns:DissociateAdditionalInformationFromAdverseEventRequest" />
  </message>
  <message name="DissociateAdditionalInformationFromAdverseEventResponse">
    <part name="parameters" element="tns:DissociateAdditionalInformationFromAdverseEventResponse" />
  </message>
  <message name="AssociateTreatmentInformationToAdverseEventRequest">
    <part name="parameters" element="tns:AssociateTreatmentInformationToAdverseEventRequest" />
  </message>
  <message name="AssociateTreatmentInformationToAdverseEventResponse">
    <part name="parameters" element="tns:AssociateTreatmentInformationToAdverseEventResponse" />
  </message>
  <message name="DisassociateTreatmentInformationFromAdverseEventRequest">
    <part name="parameters" element="tns:DisassociateTreatmentInformationFromAdverseEventRequest" />
  </message>
  <message name="DisassociateTreatmentInformationFromAdverseEventResponse">
    <part name="parameters" element="tns:DisassociateTreatmentInformationFromAdverseEventResponse" />
  </message>
  <message name="AdverseEventServiceExceptionFaultMessage">
    <part name="fault" element="ns7:AdverseEventServiceException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="AEAssociatePortType" wsrp:ResourceProperties="tns:AEAssociateResourceProperties">
    <operation name="associateAdverseEventToStudy">
      <input message="tns:AssociateAdverseEventToStudyRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AssociateAdverseEventToStudyRequest" />
      <output message="tns:AssociateAdverseEventToStudyResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AssociateAdverseEventToStudyResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="dissociateAdverseEventFromStudy">
      <input message="tns:DissociateAdverseEventFromStudyRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/DissociateAdverseEventFromStudyRequest" />
      <output message="tns:DissociateAdverseEventFromStudyResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/DissociateAdverseEventFromStudyResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="associateAdditionalInformationToAdverseEvent">
      <input message="tns:AssociateAdditionalInformationToAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AssociateAdditionalInformationToAdverseEventRequest" />
      <output message="tns:AssociateAdditionalInformationToAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AssociateAdditionalInformationToAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="dissociateAdditionalInformationFromAdverseEvent">
      <input message="tns:DissociateAdditionalInformationFromAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/DissociateAdditionalInformationFromAdverseEventRequest" />
      <output message="tns:DissociateAdditionalInformationFromAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/DissociateAdditionalInformationFromAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="associateTreatmentInformationToAdverseEvent">
      <input message="tns:AssociateTreatmentInformationToAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AssociateTreatmentInformationToAdverseEventRequest" />
      <output message="tns:AssociateTreatmentInformationToAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AssociateTreatmentInformationToAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="disassociateTreatmentInformationFromAdverseEvent">
      <input message="tns:DisassociateTreatmentInformationFromAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/DisassociateTreatmentInformationFromAdverseEventRequest" />
      <output message="tns:DisassociateTreatmentInformationFromAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/DisassociateTreatmentInformationFromAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

