caAERS/software/grid/introduce/AdverseEventEnterpriseService/schema/AdverseEventEnterpriseService/Management.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="uri:iso.org:21090" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns11="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEProtocol/types" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns8="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Query/types" xmlns:ns10="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAdvancedQuery/types" xmlns:ns7="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/types" xmlns:ns0="http://ess.caaers.nci.nih.gov" xmlns:ns2="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/types" xmlns:ns9="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/types" name="Management" targetNamespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEProtocol/types" schemaLocation="./AEProtocolTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Query/types" schemaLocation="./QueryTypes.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAdvancedQuery/types" schemaLocation="./AEAdvancedQueryTypes.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/types" schemaLocation="./ManagementTypes.xsd" />
      <import namespace="http://ess.caaers.nci.nih.gov" schemaLocation="./AE-PSM.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/types" schemaLocation="./AdverseEventEnterpriseServiceTypes.xsd" />
      <import namespace="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/AEAssociate/types" schemaLocation="./AEAssociateTypes.xsd" />
      <element name="InitiateAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="subjectIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="studyIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="adverseEvent">
              <complexType>
                <sequence>
                  <element ref="ns0:AdverseEvent" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="courseStartDate">
              <complexType>
                <sequence>
                  <element ref="ns0:TsDateTime" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="InitiateAdverseEventResponse">
        <complexType>
          <sequence>
            <element ref="ns0:AdverseEvent" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="adverseEvent">
              <complexType>
                <sequence>
                  <element ref="ns0:AdverseEvent" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateAdverseEventResponse">
        <complexType>
          <sequence>
            <element ref="ns0:AdverseEvent" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DeactivateAdverseEventRequest">
        <complexType>
          <sequence>
            <element name="adverseEventIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DeactivateAdverseEventResponse">
        <complexType>
          <sequence>
            <element ref="ns0:AdverseEvent" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ManagementResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="InitiateAdverseEventRequest">
    <part name="parameters" element="tns:InitiateAdverseEventRequest" />
  </message>
  <message name="InitiateAdverseEventResponse">
    <part name="parameters" element="tns:InitiateAdverseEventResponse" />
  </message>
  <message name="UpdateAdverseEventRequest">
    <part name="parameters" element="tns:UpdateAdverseEventRequest" />
  </message>
  <message name="UpdateAdverseEventResponse">
    <part name="parameters" element="tns:UpdateAdverseEventResponse" />
  </message>
  <message name="DeactivateAdverseEventRequest">
    <part name="parameters" element="tns:DeactivateAdverseEventRequest" />
  </message>
  <message name="DeactivateAdverseEventResponse">
    <part name="parameters" element="tns:DeactivateAdverseEventResponse" />
  </message>
  <message name="AdverseEventServiceExceptionFaultMessage">
    <part name="fault" element="ns7:AdverseEventServiceException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="ManagementPortType" wsrp:ResourceProperties="tns:ManagementResourceProperties">
    <operation name="initiateAdverseEvent">
      <input message="tns:InitiateAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/InitiateAdverseEventRequest" />
      <output message="tns:InitiateAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/InitiateAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="updateAdverseEvent">
      <input message="tns:UpdateAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/UpdateAdverseEventRequest" />
      <output message="tns:UpdateAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/UpdateAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="deactivateAdverseEvent">
      <input message="tns:DeactivateAdverseEventRequest" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/DeactivateAdverseEventRequest" />
      <output message="tns:DeactivateAdverseEventResponse" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/DeactivateAdverseEventResponse" />
      <fault name="AdverseEventServiceException" message="tns:AdverseEventServiceExceptionFaultMessage" wsa:Action="http://service.ae.ess.nci.nih.gov/AdverseEventEnterpriseService/Management/AdverseEventServiceExceptionFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

