projects/jbi/service-assembly/src/servicemix/http/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.joshuadev.com/SimpleService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService"
	targetNamespace="http://www.joshuadev.com/SimpleService/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.joshuadev.com/SimpleService/"
			xmlns:tns="http://www.joshuadev.com/SimpleService/">
			<xsd:element name="concatRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="s1" type="xsd:string"/>
						<xsd:element name="s2" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="concatRequest">
		<wsdl:part element="tns:concatRequest" name="concatRequest" />
	</wsdl:message>
	<wsdl:message name="concatResponse">
		<wsdl:part name="concatResponse" type="xsd:string" />
	</wsdl:message>
	<wsdl:portType name="SimpleService">
		<wsdl:operation name="concat">
			<wsdl:input message="tns:concatRequest" name="input" />
			<wsdl:output message="tns:concatResponse" name="output" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="concat">
			<soap:operation
				soapAction="http://www.joshuadev.com/SimpleService/concat" />
			<wsdl:input>
				<soap:body parts="tns:concatRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="tns:concatResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleService">
		<wsdl:port binding="tns:SimpleServiceSOAP"
			name="SimpleServiceSOAP">
			<soap:address location="http://localhost:8080/axis/services/SimpleServiceSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
