projects/grid/introduce/AdverseEventConsumerService1.2/schema/AdverseEventConsumer/aeNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://semanticbits.com/aeNotification" 
    xmlns="http://semanticbits.com/aeNotification" elementFormDefault="qualified">
    
    <xs:element name="aeNotification" type="AENotificationType"/>
    <xs:complexType name="AENotificationType">
        <xs:sequence>
            <xs:element name="detectionDate" type="xs:date"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="registrationGridId" type="xs:string"/>
    </xs:complexType>
</xs:schema>