caAERS/software/core/src/main/java/icsr/Icsr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Generated from icsr.dtd
-->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" >

 <xs:element name='ichicsr'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ichicsrmessageheader'/>
    <xs:element ref='safetyreport' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='lang' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='ichicsrmessageheader'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='messagetype'/>
    <xs:element ref='messageformatversion'/>
    <xs:element ref='messageformatrelease'/>
    <xs:element ref='messagenumb'/>
    <xs:element ref='messagesenderidentifier'/>
    <xs:element ref='messagereceiveridentifier'/>
    <xs:element ref='messagedateformat'/>
    <xs:element ref='messagedate'/>
   </xs:sequence>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

    <xs:element name='messagetype'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messageformatversion'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messageformatrelease'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagenumb'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagesenderidentifier'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagereceiveridentifier'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagedateformat'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagedate'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>


 <xs:element name='safetyreport'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='safetyreportversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='safetyreportid'/>
    <xs:element ref='primarysourcecountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='occurcountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='transmissiondateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='transmissiondate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporttype' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='serious' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='seriousnessdeath' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='seriousnesslifethreatening' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='seriousnesshospitalization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='seriousnessdisabling' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='seriousnesscongenitalanomali' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='seriousnessother' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivedateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivedate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiptdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiptdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='additionaldocument' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='documentlist' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='fulfillexpeditecriteria' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='authoritynumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='companynumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='duplicate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='casenullification' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='nullificationreason' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='medicallyconfirm' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='reportduplicate' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='linkedreport' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='primarysource' maxOccurs='unbounded'/>
     <xs:element ref='sender'/>
     <xs:element ref='receiver'/>
     <xs:element ref='patient'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reportduplicate'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='duplicatesource' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='duplicatenumb' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='linkedreport'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='linkreportnumb' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='primarysource'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='reportertitle' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reportergivename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reportermiddlename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporterfamilyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporterorganization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporterdepartment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporterstreet' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reportercity' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporterstate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reporterpostcode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reportercountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='qualification' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='literaturereference' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='studyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sponsorstudynumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='observestudytype' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='sender'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='sendertype' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderorganization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderdepartment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendertitle' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendergivename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendermiddlename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderfamilyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderstreetaddress' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendercity' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderstate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderpostcode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendercountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendertel' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendertelextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendertelcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderfax' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderfaxextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderfaxcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderemailaddress' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='receiver'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='receivertype' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverorganization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverdepartment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivertitle' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivergivename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivermiddlename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverfamilyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverstreetaddress' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivercity' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverstate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverpostcode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivercountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivertel' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivertelextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receivertelcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverfax' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverfaxextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiverfaxcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='receiveremailaddress' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patient'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='patientinitial' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientgpmedicalrecordnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientspecialistrecordnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patienthospitalrecordnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientinvestigationnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientbirthdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientbirthdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientonsetage' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientonsetageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='gestationperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='gestationperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientagegroup' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientweight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientheight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientsex' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='lastmenstrualdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientlastmenstrualdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalhistorytext' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='resultstestsprocedures' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='medicalhistoryepisode' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='patientpastdrugtherapy' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='patientdeath' minOccurs='0' maxOccurs='1'/>
     <xs:element ref='parent' minOccurs='0' maxOccurs='1'/>
     <xs:element ref='reaction' maxOccurs='unbounded'/>
     <xs:element ref='test' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='drug' maxOccurs='unbounded'/>
     <xs:element ref='summary' minOccurs='0' maxOccurs='1'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='medicalhistoryepisode'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='patientepisodenamemeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientepisodename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalcontinue' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientmedicalcomment' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientpastdrugtherapy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='patientdrugname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrugstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrugstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrugenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrugenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientindicationmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrugindication' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrgreactionmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdrugreaction' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeath'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='patientdeathdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdeathdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientautopsyyesno' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='patientdeathcause' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='patientautopsy' minOccurs='0' maxOccurs='unbounded'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathcause'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='patientdeathreportmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdeathreport' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientautopsy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='patientdetermautopsmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='patientdetermineautopsy' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parent'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='parentidentification' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentbirthdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentbirthdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentage' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentlastmenstrualdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentlastmenstrualdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentweight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentheight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentsex' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalrelevanttext' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='parentmedicalhistoryepisode' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='parentpastdrugtherapy' minOccurs='0' maxOccurs='unbounded'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalhistoryepisode'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='parentmdepisodemeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalepisodename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalcontinue' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentmedicalcomment' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentpastdrugtherapy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='parentdrugname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrugstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrugstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrugenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrugenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrgindicationmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrugindication' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrgreactionmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='parentdrugreaction' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reaction'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='primarysourcereaction' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionmeddraversionllt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionmeddrallt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionmeddraversionpt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionmeddrapt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='termhighlighted' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionduration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactiondurationunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionfirsttime' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionfirsttimeunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionlasttime' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionlasttimeunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactionoutcome' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='test'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='testdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='testdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='testname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='testresult' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='testunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='lowtestrange' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='hightestrange' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='moreinformation' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drug'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='drugcharacterization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='medicinalproduct' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='obtaindrugcountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugbatchnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugauthorizationnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugauthorizationcountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugauthorizationholder' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugstructuredosagenumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugstructuredosageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugseparatedosagenumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugintervaldosageunitnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugintervaldosagedefinition' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugcumulativedosagenumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugcumulativedosageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugdosagetext' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugdosageform' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugadministrationroute' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugparadministration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactiongestationperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reactiongestationperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugindicationmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugindication' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugstartperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugstartperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='druglastperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='druglastperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugtreatmentduration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugtreatmentdurationunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='actiondrug' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugrecurreadministration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugadditional' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='activesubstance' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='drugrecurrence' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='drugreactionrelatedness' minOccurs='0' maxOccurs='unbounded'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='activesubstance'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='activesubstancename'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecurrence'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='drugrecuractionmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugrecuraction'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugreactionrelatedness'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='drugreactionassesmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugreactionasses' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugassessmentsource' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugassessmentmethod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='drugresult' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='summary'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='narrativeincludeclinical' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='reportercomment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderdiagnosismeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='senderdiagnosis' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='sendercomment' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='safetyreportversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='safetyreportid'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='primarysourcecountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='occurcountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='transmissiondateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='transmissiondate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reporttype'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='serious'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnessdeath'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnesslifethreatening'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnesshospitalization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnessdisabling'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnesscongenitalanomali'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnessother'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivedateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivedate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiptdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiptdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='additionaldocument'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='documentlist'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='fulfillexpeditecriteria'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='authoritynumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='companynumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='duplicate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='duplicatesource'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='duplicatenumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='linkreportnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='casenullification'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='nullificationreason'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='medicallyconfirm'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportertitle'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportergivename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportermiddlename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterfamilyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterorganization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterdepartment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterstreet'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportercity'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterstate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterpostcode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportercountry'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='qualification'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='literaturereference'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='studyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sponsorstudynumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='observestudytype'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertype'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderorganization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderdepartment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertitle'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendergivename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendermiddlename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfamilyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderstreetaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendercity'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderstate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderpostcode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendercountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertel'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertelextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertelcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfax'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfaxextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfaxcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderemailaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertype'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverorganization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverdepartment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertitle'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivergivename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivermiddlename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfamilyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverstreetaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivercity'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverstate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverpostcode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivercountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertel'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertelextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertelcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfax'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfaxextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfaxcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiveremailaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientinitial'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientgpmedicalrecordnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientspecialistrecordnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patienthospitalrecordnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientinvestigationnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientbirthdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientbirthdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientonsetage'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientonsetageunit'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='gestationperiod'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='gestationperiodunit'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientagegroup'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientweight'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientheight'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientsex'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='lastmenstrualdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientlastmenstrualdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientepisodenamemeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientepisodename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalstartdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalstartdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalcontinue'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalenddateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalenddate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalcomment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalhistorytext'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugstartdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugstartdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugenddateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugenddate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientindicationmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugindication'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrgreactionmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugreaction'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathreportmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathreport'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientautopsyyesno'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdetermautopsmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdetermineautopsy'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentidentification'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentbirthdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentbirthdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentage'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentageunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentlastmenstrualdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentlastmenstrualdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentweight'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentheight'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentsex'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmdepisodemeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalepisodename'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalstartdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalcontinue'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalcomment'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalrelevanttext'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugname'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugstartdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrgindicationmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugindication'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrgreactionmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugreaction'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='primarysourcereaction'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddraversionllt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddrallt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddraversionpt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddrapt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='termhighlighted'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionstartdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionduration'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactiondurationunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionfirsttime'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionfirsttimeunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionlasttime'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionlasttimeunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionoutcome'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testname'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testresult'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='lowtestrange'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='hightestrange'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='moreinformation'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='resultstestsprocedures'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugcharacterization'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='medicinalproduct'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='activesubstancename'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='obtaindrugcountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugbatchnumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugauthorizationnumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugauthorizationcountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugauthorizationholder'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstructuredosagenumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstructuredosageunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugseparatedosagenumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugintervaldosageunitnumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugintervaldosagedefinition'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugcumulativedosagenumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugcumulativedosageunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugdosagetext'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugdosageform'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugadministrationroute'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugparadministration'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactiongestationperiod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactiongestationperiodunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugindicationmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugindication'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartperiod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartperiodunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='druglastperiod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='druglastperiodunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugtreatmentduration'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='drugtreatmentdurationunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='actiondrug'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecurreadministration'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecuractionmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecuraction'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugreactionassesmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugreactionasses'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugassessmentsource'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugassessmentmethod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugresult'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugadditional'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='narrativeincludeclinical'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reportercomment'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='senderdiagnosismeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='senderdiagnosis'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='sendercomment'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
