caAERS/software/jbi/caaers2adeers-sync/caaers-wsbc-su/src/main/resources/StudyService.wsdl

<?xml version="1.0" ?>
<wsdl:definitions name="StudyService"
                             targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/study"
                             xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                             xmlns:tns="http://schema.integration.caaers.cabig.nci.nih.gov/study"
                             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/common" xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="DomainObjectType">
        <xs:attribute name="id" type="xs:integer"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="MutableDomainObjectType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:attribute name="version" type="xs:positiveInteger"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="treatmentAssignment" type="TreatmentAssignmentType"></xs:element>
    <xs:complexType name="TreatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="code" type="CustomStringType"></xs:element>
                    <xs:element minOccurs="0" name="doseLevelOrder" type="CustomStringType"></xs:element>
                    <xs:element name="description" type="CustomStringType"></xs:element>
                    <xs:element minOccurs="0" name="comments" type="CustomStringType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agentRef" type="AgentRefType"></xs:element>
    <xs:complexType name="AgentRefType">
        <xs:sequence>
            <xs:element name="nscNumber" type="CustomStringType"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="agent" type="AgentType"></xs:element>
    <xs:complexType name="AgentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
               <xs:sequence>
                    <xs:element name="name" type="CustomStringType"></xs:element>
                    <xs:element minOccurs="0" name="descriptionText" type="CustomStringType"></xs:element>
                    <xs:element name="nscNumber" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="status" type="ActiveInactiveStatusType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Agents">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" ref="agent"></xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
         
    <xs:element name="preExistingCondition" type="PreExistingConditionType"></xs:element>
    <xs:complexType name="PreExistingConditionType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="text" type="CustomStringType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="PreExistingConditions">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" ref="preExistingCondition"></xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="priorTherapy" type="PriorTherapyType"></xs:element>
    <xs:complexType name="PriorTherapyType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="text" type="CustomStringType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="PriorTherapies">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" ref="priorTherapy"></xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

    <xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"></xs:element>
    <xs:complexType name="InvestigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="indHolder" type="IndHolderType"></xs:element>
                    <xs:element name="indNumber" type="xs:integer"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="indHolder" type="IndHolderType"></xs:element>
    <xs:complexType name="IndHolderType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element ref="investigatorRef"></xs:element>
                    <xs:element ref="organizationRef"></xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="diseaseTerm" type="DiseaseTermType"></xs:element>
    <xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element name="term" type="CustomStringType"></xs:element>
                    <xs:element name="meddraCode" type="CustomStringType"></xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="OrganizationType"></xs:element>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="descriptionText" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="name" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="nciInstituteCode" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="city" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="state" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="country" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="status" type="ActiveInactiveStatusType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="mergedOrganization" type="OrganizationType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="CustomStringType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="organizationRef" type="OrganizationRefType"></xs:element>
    <xs:complexType name="OrganizationRefType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="nciInstituteCode" type="CustomStringType"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="person" type="PersonType"></xs:element>
    <xs:complexType name="PersonType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="firstName" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="lastName" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="middleName" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="researchStaffRef" type="ResearchStaffRefType"></xs:element>
    <xs:complexType name="ResearchStaffRefType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="nciIdentifier" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="researchStaff" type="ResearchStaffType"></xs:element>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="emailAddress" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="faxNumber" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="nciIdentifier" type="xs:string"></xs:element>
                    <xs:element name="phoneNumber" type="CustomStringType"></xs:element>
                    <xs:element name="loginId" type="xs:string"></xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="street" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="state" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="zip" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"></xs:element>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"></xs:element>
                    <xs:element name="statusCode" type="ActiveInactiveStatusType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="faxNumber" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="street" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="state" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="zip" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="country" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="siteResearchStaff" type="SiteResearchStaffType"></xs:element>
    <xs:complexType name="SiteResearchStaffType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="emailAddress" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="phoneNumber" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="faxNumber" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="street" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="state" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="zip" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="country" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:element name="investigatorRef" type="InvestigatorRefType"></xs:element>
    <xs:complexType name="InvestigatorRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="investigator" type="InvestigatorType"></xs:element>
    <xs:complexType name="InvestigatorType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="faxNumber" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="nciIdentifier" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="phoneNumber" type="CustomStringType"></xs:element>
                    <xs:element name="allowedToLogin" type="xs:boolean"></xs:element>
                    <xs:element name="loginId" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:simpleType name="RoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPI">
                <xs:annotation>
                    <xs:documentation>Site Principal Investigator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SI">
                <xs:annotation>
                    <xs:documentation>Site Investigator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PI">
                <xs:annotation>
                    <xs:documentation>Principal Investigator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PersonnelRoleCodeType">
        <xs:restriction base="xs:string">

            <xs:enumeration value="system_administrator">
                <xs:annotation>
                    <xs:documentation>System Administrator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="business_administrator">
                <xs:annotation>
                    <xs:documentation>Business Administrator </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="person_and_organization_information_manager">
                <xs:annotation>
                    <xs:documentation>Person and Organization Information Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="data_importer">
                <xs:annotation>
                    <xs:documentation>Data Importer </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="user_administrator">
                <xs:annotation>
                    <xs:documentation>User Admin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_qa_manager">
                <xs:annotation>
                    <xs:documentation>Study QA Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_creator">
                <xs:annotation>
                    <xs:documentation>Study Creator </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="supplemental_study_information_manager">
                <xs:annotation>
                    <xs:documentation>Supplemantal Study Information Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_team_administrator">
                <xs:annotation>
                    <xs:documentation>Study Team Admin  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_site_participation_administrator">
                <xs:annotation>
                    <xs:documentation>Study Site Participation Admin  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_rule_and_report_manager">
                <xs:annotation>
                    <xs:documentation>AE Rule and Report Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_calendar_template_builder">
                <xs:annotation>
                    <xs:documentation>Study Calendar Template Builder </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="registration_qa_manager">
                <xs:annotation>
                    <xs:documentation>Registration QA Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="subject_manager">
                <xs:annotation>
                    <xs:documentation>Subject Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_subject_calendar_manager">
                <xs:annotation>
                    <xs:documentation>Study Subject Calendar Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="registrar">
                <xs:annotation>
                    <xs:documentation>Registrar </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_reporter">
                <xs:annotation>
                    <xs:documentation>AE Reporter </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_expedited_report_reviewer">
                <xs:annotation>
                    <xs:documentation>AE Expedited Report Reviewer </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_study_data_reviewer">
                <xs:annotation>
                    <xs:documentation>AE Study Data Reviewer </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lab_impact_calendar_notifier">
                <xs:annotation>
                    <xs:documentation>Lab Impact Calendar Notifier </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lab_data_user">
                <xs:annotation>
                    <xs:documentation>Lab Data User </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="data_reader">
                <xs:annotation>
                    <xs:documentation>Data Reader </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="data_analyst">
                <xs:annotation>
                    <xs:documentation>Data Analyst </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="DesignCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"></xs:enumeration>
            <xs:enumeration value="OPEN_UNBLIND"></xs:enumeration>
            <xs:enumeration value="PARTIAL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"></xs:enumeration>
            <xs:enumeration value="NA_COMMERCIAL"></xs:enumeration>
            <xs:enumeration value="IND_EXEMPT"></xs:enumeration>
            <xs:enumeration value="DCP_IND"></xs:enumeration>
            <xs:enumeration value="OTHER"></xs:enumeration>
            <xs:enumeration value="CTEP_IND"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomDateType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[1-2][0-9][0-9][0-9]"></xs:pattern>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomMonthType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="((0[1-9])|(1[0-2]))"></xs:pattern>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeviceType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObjectType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="commonName" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="brandName" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" type="xs:string"></xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="status" type="ActiveInactiveStatusType"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="TherapyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Drug"></xs:enumeration>
            <xs:enumeration value="Radiation"></xs:enumeration>
            <xs:enumeration value="Procedure/Surgery"></xs:enumeration>
            <xs:enumeration value="Device"></xs:enumeration>
            <xs:enumeration value="Behavioral"></xs:enumeration>
            <xs:enumeration value="Biological/Vaccine"></xs:enumeration>
            <xs:enumeration value="Genetic"></xs:enumeration>
            <xs:enumeration value="Dietary Supplement"></xs:enumeration>
            <xs:enumeration value="Other"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyIdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"></xs:enumeration>
            <xs:enumeration value="Site IRB Identifier"></xs:enumeration>
            <xs:enumeration value="ClinicalTrails.gov Identifier"></xs:enumeration>
            <xs:enumeration value="Grid Identifier"></xs:enumeration>
            <xs:enumeration value="C3D Identifier"></xs:enumeration>
            <xs:enumeration value="Protocol Authority Identifier"></xs:enumeration>
            <xs:enumeration value="Coordinating Center Identifier"></xs:enumeration>
            <xs:enumeration value="NCI Assigned Identifier"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ParticipantIdentifierType">
        <xs:annotation>
            <xs:documentation>
                Medical Record Number - MRN, Cooperative Group Identifier - CC
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MRN"></xs:enumeration>
            <xs:enumeration value="CC"></xs:enumeration>
            <xs:enumeration value="Other"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ActiveInactiveStatusType">
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="Active">
              <xs:annotation>
                  <xs:documentation>Active </xs:documentation>
              </xs:annotation>
	      </xs:enumeration>
	      <xs:enumeration value="Inactive">
              <xs:annotation>
              <xs:documentation>InActive </xs:documentation>
          </xs:annotation>
          </xs:enumeration>
	    </xs:restriction>
  	</xs:simpleType>
	
	<xs:complexType name="WsError">
		<xs:sequence>
			<xs:element name="exception" type="xs:string"></xs:element>
			<xs:element name="errorDesc" type="xs:string"></xs:element>
            <xs:element name="errorCode" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Processed"></xs:enumeration>
			<xs:enumeration value="Failed to Process"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="entityProcessingOutcomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="entityProcessingOutcome"> </xs:element>
			</xs:sequence>
		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="entityProcessingOutcome" type="EntityProcessingOutcomeType"></xs:element>
    <xs:complexType name="EntityProcessingOutcomeType">
        <xs:sequence>
        	<xs:element maxOccurs="1" minOccurs="0" name="klassName" type="xs:string"></xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="businessIdentifier" type="xs:string"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="message" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="dataBaseId" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="correlationId" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="correlationDescription" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ResponseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"></xs:enumeration>
            <xs:enumeration value="1"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
	<xs:element name="ServiceResponse" type="ServiceResponse"></xs:element>
    <xs:complexType name="ServiceResponse">
    	<xs:sequence>
    		<xs:element minOccurs="0" name="status" type="Status"></xs:element>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="wsError" type="WsError"></xs:element>
    		<xs:element minOccurs="0" ref="entityProcessingOutcomes"></xs:element>
            <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>

    	</xs:sequence>
        <!-- migrated from study xsd -->
        <xs:attribute name="responsecode" type="ResponseCodeType"></xs:attribute>
    </xs:complexType>
    
    <xs:element name="CaaersServiceResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element ref="ServiceResponse"></xs:element>
	        </xs:sequence>
	    </xs:complexType>
    </xs:element>
    
    <!-- Common faults. -->
	<xs:element name="SecurityExceptionFault" type="SecurityExceptionFault"></xs:element>
	
	<xs:complexType name="BaseFault">
		<xs:sequence>
			<xs:element name="message" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityExceptionFault">
		<xs:complexContent>
			<xs:extension base="BaseFault"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/study" xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/study" xmlns:cct="http://schema.integration.caaers.cabig.nci.nih.gov/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation>One EvaluationPeriod with name as "Baseline" is mandatory</xs:documentation>
</xs:annotation>
<xs:import namespace="http://schema.integration.caaers.cabig.nci.nih.gov/common"></xs:import>
<xs:element name="studies">
<xs:annotation>
<xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="study"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="study" type="study"></xs:element>
<xs:complexType name="study">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="shortTitle" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="longTitle" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="precis" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="description" type="cct:CustomStringType"></xs:element>
<xs:element name="phaseCode" type="StudyPhaseType"></xs:element>
<xs:element minOccurs="0" name="status" type="StatusType"></xs:element>
<xs:element minOccurs="0" name="multiInstitutionIndicator" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="adeersReporting" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="otherMeddra" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="studyPurpose" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="aeTermUnique" type="xs:boolean"></xs:element>
<xs:element ref="aeTerminology"></xs:element>
<xs:element ref="diseaseTerminology"></xs:element>
<xs:element minOccurs="0" name="design" type="DesignCodeType"></xs:element>
<xs:element minOccurs="0" name="drugAdministrationTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="deviceTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="radiationTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="surgeryTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="behavioralTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="biologicalTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="geneticTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="dietarySupplementTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="otherTherapyType" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="reportTypeCaaersXML" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="reportTypeAdeersPDF" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="reportTypeMedwatchPDF" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="reportTypeDCPSAEForm" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="reportTypeCIOMSForm" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="reportTypeCIOMSAEForm" type="xs:boolean"></xs:element>
<xs:element name="fundingSponsor" type="FundingSponsorType"></xs:element>
<xs:element name="coordinatingCenter" type="CoordinatingCenterType"></xs:element>
<xs:element name="studyOrganizations">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studySite"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="identifiers">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="organizationAssignedIdentifier"></xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="systemAssignedIdentifier"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="treatmentAssignments">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="treatmentAssignment"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="studyAgents">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyAgent"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice minOccurs="0">
<xs:element name="ctepStudyDiseases">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="ctepStudyDisease"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="meddraStudyDiseases">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="meddraStudyDisease"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:choice>
<xs:element minOccurs="0" name="evaluationPeriods">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="evaluationPeriod"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="studyDevices">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="studyDevice"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:choice minOccurs="0">
<xs:element name="expectedAECtcTerms">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="expectedAECtcTerm"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="expectedAEMeddraTerms">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="expectedAEMeddraTerm"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyFundingSponsor" type="StudyFundingSponsorType"></xs:element>
<xs:complexType name="StudyFundingSponsorType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element ref="organization"></xs:element>
<xs:element minOccurs="0" name="studyInvestigators">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyInvestigator"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="studyPersonnels">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyPersonnel"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studySite" type="StudySiteType"></xs:element>
<xs:complexType name="StudySiteType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element ref="organization"></xs:element>
<xs:element minOccurs="0" name="startDate" type="xs:date"></xs:element>
<xs:element minOccurs="0" name="endDate" type="xs:date"></xs:element>
<xs:element minOccurs="0" name="studyInvestigators">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyInvestigator"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="studyPersonnels">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyPersonnel"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyCoordinatingCenter" type="StudyCoordinatingCenterType"></xs:element>
<xs:complexType name="StudyCoordinatingCenterType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element ref="organization"></xs:element>
<xs:element minOccurs="0" name="studyInvestigators">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyInvestigator"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="studyPersonnels">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="studyPersonnel"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyInvestigator" type="StudyInvestigatorType"></xs:element>
<xs:complexType name="StudyInvestigatorType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="roleCode" type="cct:RoleCodeType"></xs:element>
<xs:element minOccurs="0" name="startDate" type="xs:date"></xs:element>
<xs:element minOccurs="0" name="endDate" type="xs:date"></xs:element>
<xs:element ref="siteInvestigator"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyPersonnel" type="StudyPersonnelType"></xs:element>
<xs:complexType name="StudyPersonnelType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="roleCode" type="cct:PersonnelRoleCodeType"></xs:element>
<xs:element minOccurs="0" name="startDate" type="xs:date"></xs:element>
<xs:element minOccurs="0" name="endDate" type="xs:date"></xs:element>
<xs:element ref="researchStaff"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="siteInvestigator" type="SiteInvestigatorType"></xs:element>
<xs:complexType name="SiteInvestigatorType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element ref="investigator"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="investigator" type="InvestigatorType"></xs:element>
<xs:complexType name="InvestigatorType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="firstName" type="cct:CustomStringType"></xs:element>
<xs:element name="lastName" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="nciIdentifier" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="researchStaff" type="ResearchStaffType"></xs:element>
<xs:complexType name="ResearchStaffType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="firstName" type="cct:CustomStringType"></xs:element>
<xs:element name="lastName" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="nciIdentifier" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="organization" type="cct:OrganizationType"></xs:element>
<xs:element name="treatmentAssignment" type="TreatmentAssignmentType"></xs:element>
<xs:complexType name="TreatmentAssignmentType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="code" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="doseLevelOrder" type="cct:CustomStringType"></xs:element>
<xs:element name="description" type="cct:CustomStringType"></xs:element>
<xs:element minOccurs="0" name="comments" type="cct:CustomStringType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyAgent" type="StudyAgentType"></xs:element>
<xs:complexType name="StudyAgentType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:choice>
<xs:element ref="agent"></xs:element>
<xs:element name="otherAgent" type="cct:CustomStringType"></xs:element>
</xs:choice>
<xs:element minOccurs="0" name="indType" type="IndType"></xs:element>
<xs:element minOccurs="0" name="partOfLeadIND" type="xs:boolean"></xs:element>
<xs:element minOccurs="0" name="studyAgentINDAssociations">
<xs:complexType>
<xs:sequence>
<xs:element ref="studyAgentINDAssociation"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="agent" type="AgentType"></xs:element>
<xs:complexType name="AgentType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:choice>
<xs:element name="name" type="cct:CustomStringType"></xs:element>
<xs:element name="nscNumber" type="xs:string"></xs:element>
</xs:choice>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyAgentINDAssociation" type="StudyAgentINDAssociationType"></xs:element>
<xs:complexType name="StudyAgentINDAssociationType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element ref="investigationalNewDrug"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"></xs:element>
<xs:complexType name="InvestigationalNewDrugType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="indNumber" type="xs:integer"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="meddraStudyDisease" type="MeddraStudyDiseaseType"></xs:element>
<xs:complexType name="MeddraStudyDiseaseType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="meddraCode" type="cct:CustomStringType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="ctepStudyDisease" type="CtepStudyDiseaseType"></xs:element>
<xs:complexType name="CtepStudyDiseaseType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element ref="diseaseTerm"></xs:element>
<xs:element name="leadDisease" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="diseaseTerm" type="DiseaseTermType"></xs:element>
<xs:complexType name="DiseaseTermType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:choice>
<xs:element name="term" type="cct:CustomStringType"></xs:element>
<xs:element name="meddraCode" type="cct:CustomStringType"></xs:element>
</xs:choice>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="organizationAssignedIdentifier" type="OrganizationAssignedIdentifierType"></xs:element>
<xs:complexType name="OrganizationAssignedIdentifierType">
<xs:complexContent>
<xs:extension base="IdentifierType">
<xs:sequence>
<xs:element ref="organization"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="systemAssignedIdentifier" type="SystemAssignedIdentifierType"></xs:element>
<xs:complexType name="SystemAssignedIdentifierType">
<xs:complexContent>
<xs:extension base="IdentifierType">
<xs:sequence>
<xs:element name="systemName" type="cct:CustomStringType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="identifier" type="IdentifierType"></xs:element>
<xs:complexType name="IdentifierType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="type" type="StudyIdentifierType"></xs:element>
<xs:element name="value" type="cct:CustomStringType"></xs:element>
<xs:element name="primaryIndicator" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ReducedIdentifierType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="value" type="cct:CustomStringType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CoordinatingCenterType">
<xs:sequence>
<xs:element name="organizationAssignedIdentifier" type="ReducedIdentifierType"></xs:element>
<xs:element ref="studyCoordinatingCenter"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FundingSponsorType">
<xs:sequence>
<xs:element name="organizationAssignedIdentifier" type="ReducedIdentifierType"></xs:element>
<xs:element ref="studyFundingSponsor"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="diseaseTerminology" type="DiseaseTerminologyType"></xs:element>
<xs:complexType name="DiseaseTerminologyType">
<xs:sequence>
<xs:element name="diseaseCodeTerm" type="DiseaseCodeType"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="aeTerminology" type="AeTerminologyType"></xs:element>
<xs:complexType name="AeTerminologyType">
<xs:choice>
<xs:element ref="ctcVersion"></xs:element>
<xs:element ref="meddraVersion"></xs:element>
</xs:choice>
</xs:complexType>
<xs:element name="ctcVersion" type="CtcVersionType"></xs:element>
<xs:complexType name="CtcVersionType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="name" type="StudyCtcVersionType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="meddraVersion" type="MeddraVersionType"></xs:element>
<xs:complexType name="MeddraVersionType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="name" type="StudyMeddraVersionType"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="evaluationPeriod" type="EvaluationPeriodType"></xs:element>
<xs:complexType name="EvaluationPeriodType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element name="name" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="descriptionText" type="xs:string"></xs:element>
<xs:element name="epochOrder" type="xs:int"></xs:element>
<xs:element minOccurs="0" name="solicitedAdverseEvents">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" ref="solicitedAdverseEvent"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="solicitedAdverseEvent" type="SolicitedAdverseEventType"></xs:element>
<xs:complexType name="SolicitedAdverseEventType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="ctepCode" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="meddraCode" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="otherMeddraCode" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="expectedAECtcTerm" type="ExpectedAECtcTermType"></xs:element>
<xs:complexType name="ExpectedAECtcTermType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element minOccurs="0" name="ctepCode" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="otherMeddraCode" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="expectedAEMeddraTerm" type="ExpectedAEMeddraTermType"></xs:element>
<xs:complexType name="ExpectedAEMeddraTermType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element minOccurs="0" name="meddraCode" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="device" type="cct:DeviceType"></xs:element>
<xs:element name="studyDevice" type="StudyDeviceType"></xs:element>
<xs:complexType name="StudyDeviceType">
<xs:complexContent>
<xs:extension base="StudyInterventionType">
<xs:sequence>
<xs:element minOccurs="0" ref="device"></xs:element>
<xs:element minOccurs="0" name="otherBrandName" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="otherCommonName" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="otherDeviceType" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="catalogNumber" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="manufacturerName" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="manufacturerCity" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="manufacturerState" type="xs:string"></xs:element>
<xs:element minOccurs="0" name="modelNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="studyIntervention" type="StudyInterventionType"></xs:element>
<xs:complexType name="StudyInterventionType">
<xs:complexContent>
<xs:extension base="cct:MutableDomainObjectType">
<xs:sequence>
<xs:element minOccurs="0" name="studyTherapyType" type="xs:string"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="StudyPhaseType">
<xs:restriction base="xs:string">
<xs:enumeration value="Phase I Trial"></xs:enumeration>
<xs:enumeration value="Phase I/II Trial"></xs:enumeration>
<xs:enumeration value="Phase II/III Trial"></xs:enumeration>
<xs:enumeration value="Phase II Trial"></xs:enumeration>
<xs:enumeration value="Phase III Trial"></xs:enumeration>
<xs:enumeration value="Phase IV Trial"></xs:enumeration>
<xs:enumeration value="Phase 0 Trial"></xs:enumeration>
<xs:enumeration value="Pilot"></xs:enumeration>
<xs:enumeration value="N/A"></xs:enumeration>
<xs:enumeration value="Other"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StatusType">
<xs:restriction base="xs:string">
<xs:enumeration value="Active - Trial is open to accrual"></xs:enumeration>
<xs:enumeration value="Administratively Complete"></xs:enumeration>
<xs:enumeration value="Approved - Trial has official CTEP approval"></xs:enumeration>
<xs:enumeration value="Temporarily Closed to Accrual &amp; Treatment"></xs:enumeration>
<xs:enumeration value="Temporarily Closed to Accrual"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StudyIdentifierType">
<xs:restriction base="xs:string">
<xs:enumeration value="Site Identifier"></xs:enumeration>
<xs:enumeration value="Site IRB Identifier"></xs:enumeration>
<xs:enumeration value="ClinicalTrials.gov Identifier"></xs:enumeration>
<xs:enumeration value="Grid Identifier"></xs:enumeration>
<xs:enumeration value="C3D Identifier"></xs:enumeration>
<xs:enumeration value="Protocol Authority Identifier"></xs:enumeration>
<xs:enumeration value="Coordinating Center Identifier"></xs:enumeration>
<xs:enumeration value="NCI Assigned Identifier"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StudyCtcVersionType">
<xs:restriction base="xs:string">
<xs:enumeration value="2"></xs:enumeration>
<xs:enumeration value="3"></xs:enumeration>
<xs:enumeration value="4"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StudyMeddraVersionType">
<xs:restriction base="xs:string"></xs:restriction>
</xs:simpleType>
<xs:simpleType name="DiseaseCodeType">
<xs:restriction base="xs:string">
<xs:enumeration value="CTEP"></xs:enumeration>
<xs:enumeration value="MEDDRA"></xs:enumeration>
<xs:enumeration value="OTHER"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DesignCodeType">
<xs:restriction base="xs:string">
<xs:enumeration value="BLIND"></xs:enumeration>
<xs:enumeration value="OPEN_UNBLIND"></xs:enumeration>
<xs:enumeration value="PARTIAL"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IndType">
<xs:restriction base="xs:string">
<xs:enumeration value="NA"></xs:enumeration>
<xs:enumeration value="NA_COMMERCIAL"></xs:enumeration>
<xs:enumeration value="IND_EXEMPT"></xs:enumeration>
<xs:enumeration value="DCP_IND"></xs:enumeration>
<xs:enumeration value="OTHER"></xs:enumeration>
<xs:enumeration value="CTEP_IND"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="EvalPeriodType">
<xs:restriction base="xs:string">
<xs:enumeration value="Baseline"></xs:enumeration>
<xs:enumeration value="Pre-Treatment"></xs:enumeration>
<xs:enumeration value="Treatment"></xs:enumeration>
<xs:enumeration value="Post-treatment"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:element name="updateStudy" type="updateStudy"></xs:element>
<xs:complexType name="updateStudy">
<xs:sequence>
<xs:element minOccurs="0" ref="studies"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="updateStudyResponse" type="updateStudyResponse"></xs:element>
<xs:complexType name="updateStudyResponse">
<xs:sequence>
<xs:element minOccurs="0" ref="cct:CaaersServiceResponse"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="createStudy" type="createStudy"></xs:element>
<xs:complexType name="createStudy">
<xs:sequence>
<xs:element minOccurs="0" ref="studies"></xs:element>
</xs:sequence>
</xs:complexType>
<xs:element name="createStudyResponse" type="createStudyResponse"></xs:element>
<xs:complexType name="createStudyResponse">
<xs:sequence>
<xs:element minOccurs="0" ref="cct:CaaersServiceResponse"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createStudy">
    <wsdl:part element="tns:createStudy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStudyResponse">
    <wsdl:part element="tns:updateStudyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createStudyResponse">
    <wsdl:part element="tns:createStudyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStudy">
    <wsdl:part element="tns:updateStudy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudyProcessorInterface">
    <wsdl:operation name="updateStudy">
      <wsdl:input message="tns:updateStudy" name="updateStudy">
    </wsdl:input>
      <wsdl:output message="tns:updateStudyResponse" name="updateStudyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStudy">
      <wsdl:input message="tns:createStudy" name="createStudy">
    </wsdl:input>
      <wsdl:output message="tns:createStudyResponse" name="createStudyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudyServiceSoapBinding" type="tns:StudyProcessorInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="updateStudy">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateStudy">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateStudyResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStudy">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createStudy">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createStudyResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudyService">
    <wsdl:port binding="tns:StudyServiceSoapBinding" name="StudyManagementWebServicePort">
      <soap:address location="https://dev.semanticbits.com/caaers/services/StudyService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>