caAERS/software/grid/introduce/SafetyReportingEnterpriseService/schema/SafetyReportingEnterpriseService/SafetyReportManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="http://gov.nih.nci.ess.safetyreporting.types" xmlns:ns3="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/types" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns1="uri:iso.org:21090" xmlns:ns9="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:ns8="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/types" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns2="http://ess.caaers.nci.nih.gov" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" name="SafetyReportManagement" targetNamespace="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://gov.nih.nci.ess.safetyreporting.types" schemaLocation="./SR-PSM.xsd" />
      <import namespace="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/types" schemaLocation="./SafetyReportingEnterpriseServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <import namespace="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/types" schemaLocation="./SafetyReportManagementTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://ess.caaers.nci.nih.gov" schemaLocation="./AE-PSM.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <element name="InitiateSafetyReportRequest">
        <complexType>
          <sequence>
            <element name="studyId">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="subjectId">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="patientId">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="adverseEventIds">
              <complexType>
                <sequence>
                  <element ref="ns0:DSET_II" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="problemIds">
              <complexType>
                <sequence>
                  <element ref="ns0:DSET_II" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="adverseEventReportingPeriod">
              <complexType>
                <sequence>
                  <element ref="ns0:AdverseEventReportingPeriod" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="InitiateSafetyReportResponse">
        <complexType>
          <sequence>
            <element ref="ns0:SafetyReportVersion" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AssociateAdverseEventsToSafetyReportRequest">
        <complexType>
          <sequence>
            <element name="safetyReportId">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="adverseEventIds">
              <complexType>
                <sequence>
                  <element ref="ns0:DSET_II" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AssociateAdverseEventsToSafetyReportResponse">
        <complexType>
          <sequence>
            <element ref="ns0:SafetyReportVersion" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DissociateAdverseEventsFromSafetyReportRequest">
        <complexType>
          <sequence>
            <element name="safetyReportId">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="adverseEventIds">
              <complexType>
                <sequence>
                  <element ref="ns0:DSET_II" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DissociateAdverseEventsFromSafetyReportResponse">
        <complexType>
          <sequence>
            <element ref="ns0:SafetyReportVersion" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateAdverseEventInformationInSafetyReportRequest">
        <complexType>
          <sequence>
            <element name="safetyReportId">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="adverseEvent">
              <complexType>
                <sequence>
                  <element ref="ns2:AdverseEvent" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateAdverseEventInformationInSafetyReportResponse">
        <complexType>
          <sequence>
            <element ref="ns0:SafetyReportVersion" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SafetyReportManagementResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="InitiateSafetyReportRequest">
    <part name="parameters" element="tns:InitiateSafetyReportRequest" />
  </message>
  <message name="InitiateSafetyReportResponse">
    <part name="parameters" element="tns:InitiateSafetyReportResponse" />
  </message>
  <message name="AssociateAdverseEventsToSafetyReportRequest">
    <part name="parameters" element="tns:AssociateAdverseEventsToSafetyReportRequest" />
  </message>
  <message name="AssociateAdverseEventsToSafetyReportResponse">
    <part name="parameters" element="tns:AssociateAdverseEventsToSafetyReportResponse" />
  </message>
  <message name="DissociateAdverseEventsFromSafetyReportRequest">
    <part name="parameters" element="tns:DissociateAdverseEventsFromSafetyReportRequest" />
  </message>
  <message name="DissociateAdverseEventsFromSafetyReportResponse">
    <part name="parameters" element="tns:DissociateAdverseEventsFromSafetyReportResponse" />
  </message>
  <message name="UpdateAdverseEventInformationInSafetyReportRequest">
    <part name="parameters" element="tns:UpdateAdverseEventInformationInSafetyReportRequest" />
  </message>
  <message name="UpdateAdverseEventInformationInSafetyReportResponse">
    <part name="parameters" element="tns:UpdateAdverseEventInformationInSafetyReportResponse" />
  </message>
  <message name="SafetyReportingServiceExceptionFaultMessage">
    <part name="fault" element="ns8:SafetyReportingServiceException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="SafetyReportManagementPortType" wsrp:ResourceProperties="tns:SafetyReportManagementResourceProperties">
    <operation name="initiateSafetyReport">
      <input message="tns:InitiateSafetyReportRequest" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/InitiateSafetyReportRequest" />
      <output message="tns:InitiateSafetyReportResponse" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/InitiateSafetyReportResponse" />
      <fault name="SafetyReportingServiceException" message="tns:SafetyReportingServiceExceptionFaultMessage" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/SafetyReportingServiceExceptionFaultMessage" />
    </operation>
    <operation name="associateAdverseEventsToSafetyReport">
      <input message="tns:AssociateAdverseEventsToSafetyReportRequest" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/AssociateAdverseEventsToSafetyReportRequest" />
      <output message="tns:AssociateAdverseEventsToSafetyReportResponse" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/AssociateAdverseEventsToSafetyReportResponse" />
      <fault name="SafetyReportingServiceException" message="tns:SafetyReportingServiceExceptionFaultMessage" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/SafetyReportingServiceExceptionFaultMessage" />
    </operation>
    <operation name="dissociateAdverseEventsFromSafetyReport">
      <input message="tns:DissociateAdverseEventsFromSafetyReportRequest" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/DissociateAdverseEventsFromSafetyReportRequest" />
      <output message="tns:DissociateAdverseEventsFromSafetyReportResponse" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/DissociateAdverseEventsFromSafetyReportResponse" />
      <fault name="SafetyReportingServiceException" message="tns:SafetyReportingServiceExceptionFaultMessage" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/SafetyReportingServiceExceptionFaultMessage" />
    </operation>
    <operation name="updateAdverseEventInformationInSafetyReport">
      <input message="tns:UpdateAdverseEventInformationInSafetyReportRequest" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/UpdateAdverseEventInformationInSafetyReportRequest" />
      <output message="tns:UpdateAdverseEventInformationInSafetyReportResponse" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/UpdateAdverseEventInformationInSafetyReportResponse" />
      <fault name="SafetyReportingServiceException" message="tns:SafetyReportingServiceExceptionFaultMessage" wsa:Action="http://safetyreporting.ess.nci.nih.gov/SafetyReportingEnterpriseService/SafetyReportManagement/SafetyReportingServiceExceptionFaultMessage" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

