caAERS/software/grid/introduce/SafetyReportingEnterpriseService/schema/SafetyReportingEnterpriseService/SR-PSM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" jxb:version="1.0" targetNamespace="http://gov.nih.nci.ess.safetyreporting.types"
	 xmlns:ESS-SR="http://gov.nih.nci.ess.safetyreporting.types" 
	 xmlns:ESS-AE="http://ess.caaers.nci.nih.gov" 
	 xmlns:ISO="uri:iso.org:21090" 
	 xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	  xmlns:xs="http://www.w3.org/2001/XMLSchema"
	  >
	<xs:import namespace="uri:iso.org:21090" schemaLocation="ISO_datatypes_Narrative.xsd"/>
	<xs:import namespace="http://ess.caaers.nci.nih.gov" schemaLocation="AE-PSM.xsd"/>
	
	
	<xs:complexType name="SafetyReportVersion">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="timeCreated" type="ISO:TS"/>
					<xs:element name="adverseEventResponseDescription" type="ESS-SR:AdverseEventResponseDescription"/>
					<xs:element name="treatmentInformation" type="ESS-SR:TreatmentInformation"/>
					<xs:element name="additionalInformation" type="ESS-AE:AdditionalInformation"/> 
					<xs:element name="reporter" type="ESS-SR:ReportSubmitter"/>
					<xs:element name="physician" type="ESS-SR:Physician"/>
					<xs:element name="participantHistory" type="ESS-SR:ParticipantHistory"/>
					<xs:element name="diseaseHistory" type="ESS-SR:PerformedDiagnosis"/>
					<xs:element name="reportingPeriod" type="ESS-SR:AdverseEventReportingPeriod"/>
					<xs:element name="adverseEvents" type="ESS-AE:AdverseEvent" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="labs" type="ESS-SR:PerformedObservation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="devices" type="ESS-SR:Device" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="radiationInterventions" type="ESS-SR:PerformedSubstanceAdministration" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="surgeryInterventions" type="ESS-SR:PerformedProcedure" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="concomitantMedications" type="ESS-SR:ConcomitantAgent" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherCauses" type="ESS-SR:OtherCause" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="priorTherapies" type="ESS-SR:SAEPriorTherapy" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="preExistingConditions" type="ESS-SR:PreExistingCondition" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SafetyReportVersion" type="ESS-SR:SafetyReportVersion"/>
	
	<xs:complexType name="PreExistingCondition">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>					
					<xs:element name="text" type="ISO:ST"/>
					<xs:element name="meddraLlt" type="ISO:ST"/>
					<xs:element name="meddraLltCode" type="ISO:ST"/>
					<xs:element name="meddraHlgt" type="ISO:ST"/>
					<xs:element name="other" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PreExistingCondition" type="ESS-SR:PreExistingCondition"/>

	<xs:complexType name="SAEPriorTherapy">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>					
					<xs:element name="priorTherapy" type="ESS-SR:PriorTherapy"/>
					<xs:element name="startDate" type="ISO:TS"/>
					<xs:element name="endDate" type="ISO:TS"/>
					<xs:element name="other" type="ISO:ST"/>
					<xs:element name="priorTherapyAgents" type="ISO:ST" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SAEPriorTherapy" type="ESS-SR:SAEPriorTherapy"/>
		
	<xs:complexType name="PriorTherapy">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>					
					<xs:element name="text" type="ISO:ST"/>
					<xs:element name="meddraTerm" type="ISO:ST"/>
					<xs:element name="meddraCode" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PriorTherapy" type="ESS-SR:PriorTherapy"/>
	
	<xs:complexType name="ConcomitantAgent">
		<xs:complexContent>
			<xs:extension base="ESS-SR:Product">
				<xs:sequence>					
					<xs:element name="actualDateRange" type="ISO:IVL_TS.DateTime"/>
					<xs:element name="stillTakingMedications" type="ISO:BL"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConcomitantAgent" type="ESS-SR:ConcomitantAgent"/>
	
	<xs:complexType name="Product">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>					
					<xs:element name="materialName" type="ESS-SR:MaterialName"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Product" type="ESS-SR:Product"/>
		
	<xs:complexType name="Device">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>					
					<xs:element name="typeCode" type="ISO:CD"/>
					<xs:element name="performedProcedure" type="ESS-SR:PerformedProcedure" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="lotNumberText" type="ISO:ST"/>
					<xs:element name="manufacturerCityState" type="ISO:AD"/>
					<xs:element name="manufacturerName" type="ISO:ST"/>
					<xs:element name="otherDeviceOperator" type="ISO:ST"/>
					<xs:element name="reprocessorName" type="ISO:ST"/>
					<xs:element name="reprocessorAddress" type="ISO:ST"/>
					<xs:element name="returnedFromReprocessorDate" type="ISO:TS"/>
					<xs:element name="catalogNumber" type="ISO:II" />
					<xs:element name="modelNumber" type="ISO:II" />
					<xs:element name="materialName" type="ESS-SR:MaterialName" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Device" type="ESS-SR:Device"/>
	
	<xs:complexType name="Performer">
		<xs:complexContent>
			<xs:extension base="ESS-SR:Person"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Performer" type="ESS-SR:Performer"/>
	
	<xs:complexType name="PerformedProcedure">
		<xs:complexContent>
			<xs:extension base="ESS-AE:PerformedActivity">
				<xs:sequence>					
					
					<xs:element name="methodCode" type="ISO:CD"/>
					<xs:element name="description" type="ISO:ST"/>
					<xs:element name="treatmentArm" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedProcedure" type="ESS-SR:PerformedProcedure"/>
	
	<xs:complexType name="PerformedSubstanceAdministration">
		<xs:complexContent>
			<xs:extension base="ESS-SR:PerformedProcedure">
				<xs:sequence>					
					<xs:element name="dose" type="ISO:PQ"/>
					<xs:element name="periodDoseTotal" type="ISO:PQ"/>
					<xs:element name="changeTypeCode" type="ISO:CD"/>
					<xs:element name="adjustment" type="ISO:ST"/>
					<xs:element name="daysElapsed" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedSubstanceAdministration" type="ESS-SR:PerformedSubstanceAdministration"/>
		
   <xs:complexType name="MaterialName">
		<xs:sequence>	
			<xs:element name="name" type="ISO:ST"/>
			<xs:element name="typeCode" type="ISO:CD"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MaterialName" type="ESS-SR:MaterialName"/>	
	

		
	<xs:complexType name="PerformedObservation">
		<xs:complexContent>
			<xs:extension base="ESS-AE:PerformedActivity">
				<xs:sequence>					
					
					<xs:element name="result" type="ISO:ANY"/>
					<xs:element name="infectiousAgent" type="ISO:ST"/>
					<xs:element name="targetAnatomicSiteCode" type="ISO:CD"/>
					<xs:element name="performedObservationTerm" type="ESS-SR:PerformedObservationTerm"/>
					<xs:element name="baseline" type="ESS-SR:PerformedObservationValue"/>
					<xs:element name="nadir" type="ESS-SR:PerformedObservationValue"/>
					<xs:element name="recovery" type="ESS-SR:PerformedObservationValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedObservation" type="ESS-SR:PerformedObservation"/>
	
	<xs:complexType name="PerformedObservationValue">
		<xs:sequence>	
			<xs:element name="value" type="ISO:ST"/>
			<xs:element name="actualDateRange" type="ISO:TS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PerformedObservationValue" type="ESS-SR:PerformedObservationValue"/>	
	
	<xs:complexType name="PerformedObservationCategory">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>	
					<xs:element name="name" type="ISO:ST"/>				
					<xs:element name="terms" type="ESS-SR:PerformedObservationTerm" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performedObservationVersion" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedObservationCategory" type="ESS-SR:PerformedObservationCategory"/>	
	
	<xs:complexType name="PerformedObservationTerm">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>					
					<xs:element name="term" type="ISO:ST"/>
					<xs:element name="performedObservationCategory" type="ESS-SR:PerformedObservationCategory"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedObservationTerm" type="ESS-SR:PerformedObservationTerm"/>	


	

			
	<xs:complexType name="AdverseEventReportingPeriod">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="assignment" type="ESS-SR:StudySubjectProtocolVersionRelationship"/>
					<xs:element name="description" type="ISO:ST"/>
					<xs:element name="startDate" type="ISO:TS"/>
					<xs:element name="endDate" type="ISO:TS"/>
					<xs:element name="treatmentAssignmentDescription" type="ISO:ST"/>
					<xs:element name="treatmentAssignment" type="ESS-SR:DefinedSubjectActivityGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AdverseEventReportingPeriod" type="ESS-SR:AdverseEventReportingPeriod"/>

	<xs:complexType name="DefinedSubjectActivityGroup">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="nameCode" type="ISO:CD"/>
					<xs:element name="comment" type="ISO:ST"/>
					<xs:element name="description" type="ISO:ST"/>
					<xs:element name="doseLevelOrder" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DefinedSubjectActivityGroup" type="ESS-SR:DefinedSubjectActivityGroup"/>

	<xs:complexType name="TreatmentInformation">
		<xs:complexContent>
			<xs:extension base="ESS-AE:PerformedActivity">
				<xs:sequence>
					<xs:element name="description" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="TreatmentInformation" type="ESS-SR:TreatmentInformation"/>
	
	<xs:complexType name="StudySubjectProtocolVersionRelationship">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="studySubjectIdentifier" type="ISO:II"/>
					<xs:element name="studySiteIdentifier" type="ISO:II"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StudySubjectProtocolVersionRelationship" type="ESS-SR:StudySubjectProtocolVersionRelationship"/>
			
	<xs:complexType name="ParticipantHistory">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="baselinePerformanceStatus" type="ISO:ST"/>
					<xs:element name="height" type="ISO:ANY"/>
					<xs:element name="weight" type="ISO:ANY"/>
					<xs:element name="bsa" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ParticipantHistory" type="ESS-SR:ParticipantHistory"/>
		
	<xs:complexType name="ReportSubmitter">
				<xs:sequence>
					<xs:element name="researchStaff" type="ESS-SR:ResearchStaff"/>
					<xs:element name="healthCareProvider" type="ESS-SR:HealthCareProvider"/>
				</xs:sequence>
	</xs:complexType>
	<xs:element name="ReportSubmitter" type="ESS-SR:ReportSubmitter"/>
	
	<xs:complexType name="Physician">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="researchStaff" type="ESS-SR:ResearchStaff"/>
					<xs:element name="healthCareProvider" type="ESS-SR:HealthCareProvider"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Physician" type="ESS-SR:Physician"/>	
	
	<xs:complexType name="ResearchStaff">
		<xs:complexContent>
			<xs:extension base="ESS-SR:Person"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ResearchStaff" type="ESS-SR:ResearchStaff"/>

	<xs:complexType name="HealthCareProvider">
		<xs:complexContent>
			<xs:extension base="ESS-SR:Person"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="HealthCareProvider" type="ESS-SR:HealthCareProvider"/>
			
	<xs:complexType name="Person">
		<xs:complexContent>
			<xs:extension base="ESS-AE:BiologicEntity">
				<xs:sequence>
					<xs:element name="name" type="ISO:DSET_EN.PN"/>
					<xs:element name="initials" type="ISO:ST"/>
					<xs:element name="raceCode" type="ISO:DSET_CD"/>
					<xs:element name="ethnicGroupCode" type="ISO:DSET_CD"/>
					<xs:element name="maritalStatusCode" type="ISO:CD"/>
					<xs:element name="educationLevelCode" type="ISO:CD"/>
					<xs:element name="postalAddress" type="ISO:AD"/>
					<xs:element name="telecomAddress" type="ISO:BAG_TEL"/>
					<xs:element name="primaryOccupationCode" type="ISO:CD"/>
					<xs:element name="occupationDateRange" type="ISO:ST"/>
					<xs:element name="deathIndicator" type="ISO:TS"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Person" type="ESS-SR:Person"/>
	
	<xs:complexType name="AdverseEventResponseDescription">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<!--
					<xs:element name="causeOfDeath" type="ESS-SR:AdverseEventOutcomeResult"/>
					<xs:element name="dateRemovedFromProtocol" type="ESS-AE:PerformedActivity"/>
					<xs:element name="daysNotGiven" type="ESS-AE:PerformedProcedure"/>
					<xs:element name="eventAbate" type="ESS-AE:AdverseEventOutcomeResult"/>
					<xs:element name="summary" type="ISO:ST"/>
					<xs:element name="occurrencePatternCode" type="ISO:CD"/>
					<xs:element name="eventTreatmentTime" type="ESS-AE:PerformedActivity"/>
					<xs:element name="presentStatus" type="ESS-AE:AdverseEventOutcomeResult"/>
					<xs:element name="performedSubstanceAdministration" type="ESS-SR:PerformedSubstanceAdministration"/>
					<xs:element name="retreated" type="ISO:BL"/>
					<xs:element name="statusDate" type="ESS-AE:AdverseEventOutcomeResult"/>
					<xs:element name="studyDrugInterrupted" type="ESS-AE:AdverseEventOutcomeResult"/>
					-->
					<xs:element name="adverseEventOutcomeResult" type="ESS-SR:AdverseEventOutcomeResult" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="performedActivity" type="ESS-AE:PerformedActivity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="summary" type="ISO:ST"/>
					<xs:element name="occurrencePatternCode" type="ISO:CD"/>
					<xs:element name="performedSubstanceAdministration" type="ESS-SR:PerformedSubstanceAdministration"/>
					<xs:element name="retreated" type="ISO:BL"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AdverseEventResponseDescription" type="ESS-SR:AdverseEventResponseDescription"/>

	<xs:complexType name="AdverseEventOutcomeResult">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="result" type="ISO:ANY"/>
					<xs:element name="reportedDate" type="ISO:TS"/>
					<xs:element name="typeCode" type="ISO:CD"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AdverseEventOutcomeResult" type="ESS-SR:AdverseEventOutcomeResult"/>
		

			
	<xs:complexType name="SafetyReportFormat">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SafetyReportFormat" type="ESS-SR:SafetyReportFormat"/>

	<xs:complexType name="PerformedProductInvestigationResult">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedProductInvestigationResult" type="ESS-SR:PerformedProductInvestigationResult"/>


	<xs:complexType name="RegulatoryApplication">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RegulatoryApplication" type="ESS-SR:RegulatoryApplication"/>

	<xs:complexType name="PerformedClinicalResult">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedClinicalResult" type="ESS-SR:PerformedClinicalResult"/>

	<xs:complexType name="OtherCause">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="text" type="ISO:ST"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OtherCause" type="ESS-SR:OtherCause"/>

	<xs:complexType name="PerformanceClinicalResult">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformanceClinicalResult" type="ESS-SR:PerformanceClinicalResult"/>
		
	<xs:complexType name="PerformedDiagnosis">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity">
				<xs:sequence>
					<xs:element name="actualDateRange" type="ISO:TS"/>
					<xs:element name="result" type="ISO:ANY"/>
					<xs:element name="targetAnatomicSiteCode" type="ISO:CD"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedDiagnosis" type="ESS-SR:PerformedDiagnosis"/>

	
	<xs:complexType name="PerformedMedicalHistoryResult">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PerformedMedicalHistoryResult" type="ESS-SR:PerformedMedicalHistoryResult"/>
	
	<xs:complexType name="DocumentAuthor">
		<xs:complexContent>
			<xs:extension base="ESS-AE:BiologicEntity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentAuthor" type="ESS-SR:DocumentAuthor"/>
	
						
		
	<xs:complexType name="SafetyReportNarrative">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SafetyReportNarrative" type="ESS-SR:SafetyReportNarrative"/>
		
	<xs:complexType name="PlannedIntervention">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PlannedIntervention" type="ESS-SR:PlannedIntervention"/>
		

		
	<xs:complexType name="ReportDefinition">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReportDefinition" type="ESS-SR:ReportDefinition"/>
		
	<xs:complexType name="ReportTerminology">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReportTerminology" type="ESS-SR:ReportTerminology"/>

	<xs:complexType name="ReportingRule">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ReportingRule" type="ESS-SR:ReportingRule"/>

	<xs:complexType name="SafetyReportDefinitionNotification">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SafetyReportDefinitionNotification" type="ESS-SR:SafetyReportDefinitionNotification"/>

	<xs:complexType name="SafetyReportReview">
		<xs:complexContent>
			<xs:extension base="ESS-AE:Entity"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SafetyReportReview" type="ESS-SR:SafetyReportReview"/>
	
  <xs:complexType abstract="true" name="COLL_SafetyReportVersion">
    <xs:complexContent>
      <xs:extension base="ISO:ANY" />
    </xs:complexContent>
  </xs:complexType>	  
  <xs:complexType name="DSET_SafetyReportVersion">
    <xs:complexContent>
      <xs:extension base="ESS-SR:COLL_SafetyReportVersion">
        <xs:sequence>
          <xs:element name="item" type="ESS-SR:SafetyReportVersion" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DSET_SafetyReportVersion" type="ESS-SR:DSET_SafetyReportVersion"></xs:element>	
	
  <xs:element name="DSET_II" type="ISO:DSET_II"/>
  
				
</xs:schema>
