projects/core/src/main/resources/schema/integration/AENotification.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.ae.domain" 
xmlns="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.ae.domain" 

elementFormDefault="qualified">
  
  
<xs:element name="aeNotification">
	 <xs:complexType>
	   <xs:sequence>
	     <xs:element name="detectionDate" type="xs:date"/>
	     <xs:element name="description" type="xs:string"/>
	   </xs:sequence>
	   <xs:attribute name="registrationGridId" type="xs:string"/>
	 </xs:complexType>
</xs:element>

</xs:schema>