projects/core/src/main/resources/schema/integration/StudySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/study"
    xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/study"
    xmlns:cct="http://schema.integration.caaers.cabig.nci.nih.gov/common"
    elementFormDefault="unqualified">

    <xs:import
        namespace="http://schema.integration.caaers.cabig.nci.nih.gov/common"
        schemaLocation="caAERSCommonTypes.xsd"/>

    <xs:element name="SyncStudiesRequest">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. This root element contains 1 or many
                study elements. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Study" type="StudyType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="SyncStudiesResponse">
        <xs:annotation>
            <xs:documentation>Response Message</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseText" type="xs:string" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="StudyType">
        <xs:sequence>
            <xs:element name="shortTitle" type="xs:string"/>
            <xs:element name="longTitle" type="xs:string"/>
            <xs:element name="precis" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="phaseCode" type="StudyPhaseType"/>
            <xs:element name="status" type="StatusType"/>
            <xs:element name="multiInstitutionIndicator" type="xs:boolean"/>
            <xs:element name="adeersReportingIndicator" type="xs:boolean"/>
            <xs:element ref="aeTerminology"/>
            <xs:element ref="diseaseTerminology"/>
            <xs:element name="design" type="cct:DesignCodeType" minOccurs="0"/>
            <xs:element name="studyTherapy" type="StudyTherapyType" minOccurs="0"
                maxOccurs="unbounded"/>
            <xs:element name="identifiers" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="cct:organizationAssignedIdentifier" minOccurs="1"
                            maxOccurs="unbounded"/>
                        <xs:element ref="cct:systemAssignedIdentifier" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="studyFundingSponsor" type="StudyFundingSponsorType"/>
            <xs:element name="studyCoordinatingCenter" type="StudyCoordinatingCenterType"/>
            <xs:element ref="studySite" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="cct:treatmentAssignment" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="studyAgent" minOccurs="0" maxOccurs="unbounded"/>
            <xs:choice minOccurs="0">
                <xs:element ref="ctepStudyDisease" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="meddraStudyDisease" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="studyInvestigator" type="StudyInvestigatorType"/>
    <xs:complexType name="StudyInvestigatorType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element name="roleCode" type="cct:RoleCodeType"/>
                    <xs:element name="statusCode" type="cct:StatusCodeType"/>
                    <xs:element name="signatureText" type="cct:CustomStringType"/>
                    <xs:element ref="siteInvestigator"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"/>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="cct:SiteInvestigatorType">
                <xs:sequence>
                    <xs:element ref="cct:investigatorRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyFundingSponsor" type="StudyFundingSponsorType"/>
    <xs:complexType name="StudyFundingSponsorType">
        <xs:complexContent>
            <xs:extension base="StudyOrganizationType">
                <xs:sequence>
                    <xs:element name="organizationAssignedIdentifier" type="cct:CustomStringType"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="StudyOrganizationType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element ref="cct:organizationRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyCoordinatingCenter" type="StudyCoordinatingCenterType"/>
    <xs:complexType name="StudyCoordinatingCenterType">
        <xs:complexContent>
            <xs:extension base="StudyOrganizationType">
                <xs:sequence>
                    <xs:element ref="cct:organizationRef"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studySite" type="StudySiteType"/>
    <xs:complexType name="StudySiteType">
        <xs:complexContent>
            <xs:extension base="StudyOrganizationType">
                <xs:sequence>
                    <xs:element name="statusCode" type="cct:CustomStringType"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyTherapy" type="StudyTherapyType"/>
    <xs:complexType name="StudyTherapyType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="cct:TherapyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyPersonnel" type="StudyPersonnelType"/>
    <xs:complexType name="StudyPersonnelType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element name="roleCode" type="cct:PersonnelRoleCodeType"/>
                    <xs:element name="statusCode" type="cct:StatusCodeType"/>
                    <xs:element ref="cct:researchStaffRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
 
    <xs:element name="studyAgent" type="StudyAgentType"/>
    <xs:complexType name="StudyAgentType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="otherAgent" type="cct:CustomStringType"/>
                        <xs:element ref="cct:agentRef"/>
                    </xs:choice>
                    <xs:element type="cct:IndType" name="indType"/>
                    <xs:element type="xs:boolean" name="leadINDIndicator" minOccurs="0"/>
                    <xs:element name="studyAgentINDAssociations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgentINDAssociation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
 
    <!-- 
    <xs:element name="identifier" type="IdentifierType"/>
    <xs:complexType name="IdentifierType">
        <xs:complexContent>
            <xs:extension base="cct:IdentifierType">
                <xs:sequence>
                    <xs:element name="type" type="StudyIdentifierType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
     -->

    <xs:element name="meddraStudyDisease" type="MeddraStudyDiseaseType"/>
    <xs:complexType name="MeddraStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element name="meddraCode" type="cct:CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="ctepStudyDisease" type="CtepStudyDiseaseType"/>
    <xs:complexType name="CtepStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element ref="cct:diseaseTerm"/>
                    <xs:element name="leadDisease" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="aeTerminology" type="AeTerminologyType"/>
    <xs:complexType name="AeTerminologyType">
        <xs:choice>
            <xs:element ref="ctcVersion"/>
            <xs:element ref="meddraVersion"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:element name="ctcVersion" type="CTCVersionType"/>
    <xs:complexType name="CTCVersionType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="StudyCtcVersion"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="meddraVersion" type="MeddraVersionType"/>
    <xs:complexType name="MeddraVersionType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="StudyMeddraVersion"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
 
    <xs:element name="diseaseTerminology" type="DiseaseTerminologyType"/>
    <xs:complexType name="DiseaseTerminologyType">
        <xs:sequence>
            <xs:element type="DiseaseCodeType" name="diseaseCodeTerm"/>
        </xs:sequence>
    </xs:complexType>
 
    <xs:element name="studyAgentINDAssociation" type="StudyAgentINDAssociationType"/>
    <xs:complexType name="StudyAgentINDAssociationType">
        <xs:complexContent>
            <xs:extension base="cct:DomainObjectType">
                <xs:sequence>
                    <xs:element ref="cct:investigationalNewDrug"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:simpleType name="StudyPhaseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Phase I Trial"/>
            <xs:enumeration value="Phase I/II Trial"/>
            <xs:enumeration value="Phase II Trial"/>
            <xs:enumeration value="Phase III Trial"/>
            <xs:enumeration value="Phase IV Trial"/>
            <xs:enumeration value="Phase 0 Trial"/>
            <xs:enumeration value="Pilot"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active - Trial is open to accrual"/>
            <xs:enumeration value="Administratively Complete"/>
            <xs:enumeration value="Approved - Trial has official CTEP approval"/>
            <xs:enumeration value="Temporarily Closed to Accrual &amp; Treatment"/>
            <xs:enumeration value="Temporarily Closed to Accrual"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyIdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrials.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyCtcVersion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyMeddraVersion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DiseaseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTEP"/>
            <xs:enumeration value="MEDDRA"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
