caAERS/software/jbi/caaers2adeers-sync/adeers-wsbc-su/src/main/resources/CESAEStudyService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ctep.nci.nih.gov/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://services.ctep.nci.nih.gov/" name="CESAEStudyService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ctep.nci.nih.gov/" schemaLocation="CESAEStudyService.xsd"/>
</xsd:schema>
</types>
<message name="searchStudy">
<part name="parameters" element="tns:searchStudy"/>
</message>
<message name="searchStudyResponse">
<part name="parameters" element="tns:searchStudyResponse"/>
</message>
<message name="CESAEException">
<part name="fault" element="tns:CESAEException"/>
</message>
<message name="getStudyDetails">
<part name="parameters" element="tns:getStudyDetails"/>
</message>
<message name="getStudyDetailsResponse">
<part name="parameters" element="tns:getStudyDetailsResponse"/>
</message>
<message name="getStudyAgents">
<part name="parameters" element="tns:getStudyAgents"/>
</message>
<message name="getStudyAgentsResponse">
<part name="parameters" element="tns:getStudyAgentsResponse"/>
</message>
<message name="getStudyDevices">
<part name="parameters" element="tns:getStudyDevices"/>
</message>
<message name="getStudyDevicesResponse">
<part name="parameters" element="tns:getStudyDevicesResponse"/>
</message>
<message name="getStudyDiseases">
<part name="parameters" element="tns:getStudyDiseases"/>
</message>
<message name="getStudyDiseasesResponse">
<part name="parameters" element="tns:getStudyDiseasesResponse"/>
</message>
<message name="getStudyOrganizations">
<part name="parameters" element="tns:getStudyOrganizations"/>
</message>
<message name="getStudyOrganizationsResponse">
<part name="parameters" element="tns:getStudyOrganizationsResponse"/>
</message>
<message name="getStudyTreatmentAssignments">
<part name="parameters" element="tns:getStudyTreatmentAssignments"/>
</message>
<message name="getStudyTreatmentAssignmentsResponse">
<part name="parameters" element="tns:getStudyTreatmentAssignmentsResponse"/>
</message>
<portType name="AEStudyService">
<operation name="searchStudy">
<input message="tns:searchStudy"/>
<output message="tns:searchStudyResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getStudyDetails">
<input message="tns:getStudyDetails"/>
<output message="tns:getStudyDetailsResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getStudyAgents">
<input message="tns:getStudyAgents"/>
<output message="tns:getStudyAgentsResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getStudyDevices">
<input message="tns:getStudyDevices"/>
<output message="tns:getStudyDevicesResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getStudyDiseases">
<input message="tns:getStudyDiseases"/>
<output message="tns:getStudyDiseasesResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getStudyOrganizations">
<input message="tns:getStudyOrganizations"/>
<output message="tns:getStudyOrganizationsResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getStudyTreatmentAssignments">
<input message="tns:getStudyTreatmentAssignments"/>
<output message="tns:getStudyTreatmentAssignmentsResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
</portType>
<binding name="CESAEStudyPortBinding" type="tns:AEStudyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchStudy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getStudyDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getStudyAgents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getStudyDevices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getStudyDiseases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getStudyOrganizations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getStudyTreatmentAssignments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CESAEStudyService">
<port name="CESAEStudyPort" binding="tns:CESAEStudyPortBinding">
<soap:address location="https://betapps-ctep.nci.nih.gov:443/CES-AE/CESAEStudyService"/>
</port>
</service>
</definitions>