caAERS/software/jbi/caaers2adeers-sync/adeers-wsbc-su/src/main/resources/CESAELOVService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ctep.nci.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ctep.nci.nih.gov/" name="CESAELOVService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ctep.nci.nih.gov/" schemaLocation="CESAELOVService.xsd"/>
</xsd:schema>
</types>
<message name="getAgentDoseUOMLOV">
<part name="parameters" element="tns:getAgentDoseUOMLOV"/>
</message>
<message name="getAgentDoseUOMLOVResponse">
<part name="parameters" element="tns:getAgentDoseUOMLOVResponse"/>
</message>
<message name="CESAEException">
<part name="fault" element="tns:CESAEException"/>
</message>
<message name="getASAEL">
<part name="parameters" element="tns:getASAEL"/>
</message>
<message name="getASAELResponse">
<part name="parameters" element="tns:getASAELResponse"/>
</message>
<message name="getAgentsLOV">
<part name="parameters" element="tns:getAgentsLOV"/>
</message>
<message name="getAgentsLOVResponse">
<part name="parameters" element="tns:getAgentsLOVResponse"/>
</message>
<message name="getCTCAELOV">
<part name="parameters" element="tns:getCTCAELOV"/>
</message>
<message name="getCTCAELOVResponse">
<part name="parameters" element="tns:getCTCAELOVResponse"/>
</message>
<message name="getDevicesLOV">
<part name="parameters" element="tns:getDevicesLOV"/>
</message>
<message name="getDevicesLOVResponse">
<part name="parameters" element="tns:getDevicesLOVResponse"/>
</message>
<message name="getPreExistingConditionsLOV">
<part name="parameters" element="tns:getPreExistingConditionsLOV"/>
</message>
<message name="getPreExistingConditionsLOVResponse">
<part name="parameters" element="tns:getPreExistingConditionsLOVResponse"/>
</message>
<message name="getLabsLOV">
<part name="parameters" element="tns:getLabsLOV"/>
</message>
<message name="getLabsLOVResponse">
<part name="parameters" element="tns:getLabsLOVResponse"/>
</message>
<message name="getTherapiesLOV">
<part name="parameters" element="tns:getTherapiesLOV"/>
</message>
<message name="getTherapiesLOVResponse">
<part name="parameters" element="tns:getTherapiesLOVResponse"/>
</message>
<message name="getOrganizationsLOV">
<part name="parameters" element="tns:getOrganizationsLOV"/>
</message>
<message name="getOrganizationsLOVResponse">
<part name="parameters" element="tns:getOrganizationsLOVResponse"/>
</message>
<message name="getMergedOrganization">
<part name="parameters" element="tns:getMergedOrganization"/>
</message>
<message name="getMergedOrganizationResponse">
<part name="parameters" element="tns:getMergedOrganizationResponse"/>
</message>
<portType name="AELOVService">
<operation name="getAgentDoseUOMLOV">
<input message="tns:getAgentDoseUOMLOV"/>
<output message="tns:getAgentDoseUOMLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getASAEL">
<input message="tns:getASAEL"/>
<output message="tns:getASAELResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getAgentsLOV">
<input message="tns:getAgentsLOV"/>
<output message="tns:getAgentsLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getCTCAELOV">
<input message="tns:getCTCAELOV"/>
<output message="tns:getCTCAELOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getDevicesLOV">
<input message="tns:getDevicesLOV"/>
<output message="tns:getDevicesLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getPreExistingConditionsLOV">
<input message="tns:getPreExistingConditionsLOV"/>
<output message="tns:getPreExistingConditionsLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getLabsLOV">
<input message="tns:getLabsLOV"/>
<output message="tns:getLabsLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getTherapiesLOV">
<input message="tns:getTherapiesLOV"/>
<output message="tns:getTherapiesLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getOrganizationsLOV">
<input message="tns:getOrganizationsLOV"/>
<output message="tns:getOrganizationsLOVResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
<operation name="getMergedOrganization">
<input message="tns:getMergedOrganization"/>
<output message="tns:getMergedOrganizationResponse"/>
<fault message="tns:CESAEException" name="CESAEException"/>
</operation>
</portType>
<binding name="CESAELOVPortBinding" type="tns:AELOVService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAgentDoseUOMLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getASAEL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getAgentsLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getCTCAELOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getDevicesLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getPreExistingConditionsLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getLabsLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getTherapiesLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getOrganizationsLOV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
<operation name="getMergedOrganization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CESAEException">
<soap:fault name="CESAEException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CESAELOVService">
<port name="CESAELOVPort" binding="tns:CESAELOVPortBinding">
<soap:address location="https://betapps-ctep.nci.nih.gov:443/CES-AE/CESAELOVService"/>
</port>
</service>
</definitions>