projects/core/src/main/java/gov/nih/nci/cabig/caaers/domain/DiseaseTerm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiseaseTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="term" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
        <xs:element type="xs:string" name="ctepTerm" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
        <xs:element type="xs:string" name="medraCode" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
        <xs:element type="xs:anySimpleType" name="category" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>