projects/core/src/main/java/gov/nih/nci/cabig/caaers/domain/DiseaseCategory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiseaseCategory">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="name" maxOccurs="unbounded"
      		minOccurs="0" nillable="true" />
      	<xs:element type="DiseaseTerm" name="terms"
      		maxOccurs="unbounded" minOccurs="0" nillable="true" />
      	<xs:element type="xs:anySimpleType" name="parentCategory"
      		maxOccurs="unbounded" minOccurs="0" nillable="true" />
      	<xs:element type="DiseaseCategory" name="childCategories"
      		maxOccurs="unbounded" minOccurs="0" nillable="true" />
      	<xs:element ref="DiseaseCategory"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="DiseaseCategory"></xs:complexType>

    <xs:complexType name="DiseaseTerm">
    	<xs:sequence>
    		<xs:element ref="DiseaseCategory"></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>