caAERS/software/core/src/main/resources/schema/integration/AEReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/aereport"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/aereport"
	xmlns:cct="http://schema.integration.caaers.cabig.nci.nih.gov/common"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import namespace="http://schema.integration.caaers.cabig.nci.nih.gov/common" schemaLocation="caAERSCommonTypes.xsd" />
		<xs:element name="AdverseEventReport">
			 <xs:complexType>
				<xs:sequence>
					<xs:element type="xs:time" name="createdAt" />
					<xs:element type="AdverseEventResponseDescriptionType" name="adverseEventResponseDescription" minOccurs="0"/>
					<xs:element type="AdverseEventReportingPeriodType" name="adverseEventReportingPeriod" />
					<xs:element type="PhysicianType" name="physician" />
					<xs:element type="ReporterType" name="reporter" />
					<xs:element type="ReviewerType" name="reviewer" minOccurs="0"/>
					<xs:element type="DiseaseHistoryType" name="diseaseHistory"  minOccurs="0"  />
					<xs:element type="ParticipantHistoryType" name="participantHistory" minOccurs="0"  />
					<xs:element type="StudyParticipantAssignmentType" name="studyParticipantAssignment" minOccurs="1"  />
					<xs:element type="RadiationInterventionType" name="radiationIntervention" minOccurs="0" maxOccurs="unbounded" />
					<xs:element type="SurgeryInterventionType" name="surgeryIntervention" minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element type="BiologicalInterventionType" name="biologicalIntervention"  minOccurs="0" maxOccurs="unbounded"/>
					<xs:element type="DietarySupplementInterventionType" name="dietarySupplementIntervention" minOccurs="0" maxOccurs="unbounded" />
					<xs:element type="MedicalDeviceType" name="medicalDevice" minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element type="ConcomitantMedicationType" name="concomitantMedication" maxOccurs="unbounded" minOccurs="0" />
					<xs:element type="AdverseEventType" name="adverseEvent"	maxOccurs="unbounded" minOccurs="1" />
					<xs:element type="LabType" name="lab" minOccurs="0" maxOccurs="unbounded" />
					<xs:element type="SAEReportPriorTherapyType" name="sAEReportPriorTherapy" maxOccurs="unbounded" minOccurs="0" />
					<xs:element type="TreatmentInformationType" name="treatmentInformation" minOccurs="0"  />
					<xs:element type="SAEReportPreExistingConditionType" name="sAEReportPreExistingCondition" maxOccurs="unbounded" minOccurs="0" />
					<xs:element type="OtherCauseType" name="otherCause"	maxOccurs="unbounded" minOccurs="0" />
					<xs:element type="AdditionalInformationType" name="additionalInformation" minOccurs="0" />
					<xs:element type="ReportType" name="report" />
				</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="TimeValueType">
		<xs:sequence>
			<xs:element type="xs:int" name="hour" minOccurs="0"/>
			<xs:element type="xs:int" name="minute" minOccurs="0"/>
			<xs:element type="xs:int" name="type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdverseEventResponseDescriptionType">
		<xs:sequence>
			<xs:element type="xs:string" name="eventDescription" />
			<xs:element type="PostAdverseEventStatusType" name="presentStatus" />
			<xs:element type="xs:boolean" name="retreated" />
			<xs:element name="recoveryDate" type="xs:date" minOccurs="0"/>
			<xs:element type="xs:date" name="dateRemovedFromProtocol" minOccurs="0"/>
			<xs:element type="xs:string" name="eventAbate" minOccurs="0"/>
			<xs:element type="xs:string" name="eventReappear" minOccurs="0"/>
			<xs:element type="TimeValueType" name="primaryTreatmentApproximateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdverseEventReportingPeriodType">
		<xs:sequence>
			<xs:element type="xs:int" name="cycleNumber" minOccurs="0" />
			<xs:element type="xs:date" name="startDate" minOccurs="0"/>
			<xs:element type="StudyParticipantAssignmentType" name="StudyParticipantAssignment" />
			<xs:element type="TreatmentAssignmentType" name="TreatmentAssignment" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	 <xs:complexType name="ContactMechanismType">
	  <xs:sequence>
  		<xs:element name="type" type="xs:string"/>
  		<xs:element name="value" type="xs:string"/>
	  </xs:sequence>
  	</xs:complexType> 
	
	<xs:complexType name="PhysicianType">
		<xs:sequence>
			<xs:element type="xs:string" name="firstName" />
			<xs:element type="xs:string" name="lastName" />
			<xs:element type="xs:string" name="nciIdentifier" minOccurs="0"/>
			<xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element type="ContactMechanismType" name="ContactMechanism" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ReporterType">
		<xs:sequence>
			<xs:element type="xs:string" name="firstName" />
			<xs:element type="xs:string" name="lastName" />
			<xs:element type="xs:string" name="nciIdentifier" minOccurs="0"/>
			<xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element type="ContactMechanismType" name="ContactMechanism"	maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ReviewerType">
		<xs:sequence>
			<xs:element type="xs:string" name="firstName" />
			<xs:element type="xs:string" name="lastName" />
			<xs:element type="xs:string" name="nciIdentifier" minOccurs="0"/>
			<xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element type="ContactMechanismType" name="ContactMechanism"	maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AnatomicSiteType">	  
	  <xs:sequence>
	  	<xs:element name="name" type="xs:string"/>
	  	<xs:element name="category" type="xs:string"/>
	  </xs:sequence>
   </xs:complexType>
	
	<xs:complexType name="MetastaticDiseaseSiteType">
	  <xs:sequence>
	 		<xs:element name="otherMetastaticDiseaseSite" type="xs:string"/>
	 		<xs:element name="AnatomicSite" type="AnatomicSiteType"/>
	  </xs:sequence>
	</xs:complexType>  

	<xs:complexType name="DiseaseHistoryType">
		<xs:sequence>
			<xs:element type="DateValueType" name="diagnosisDate" />
			<xs:element type="MetastaticDiseaseSiteType" name="metastaticDiseaseSite" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="DateValueType">
		<xs:sequence>
			<xs:element type="xs:int" name="day" minOccurs="0"/>
			<xs:element type="xs:int" name="month" minOccurs="0"/>
			<xs:element type="xs:int" name="year" minOccurs="0"/>
			<xs:element type="xs:int" name="zone" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AgentType">
	  <xs:sequence>
  		<xs:element name="name" type="xs:string"/>
  		<xs:element name="description" type="xs:string"/>
  		<xs:element name="nscNumber" type="xs:string"/>
	  </xs:sequence>
  </xs:complexType>
	<xs:complexType name="StudyAgentType">
		<xs:sequence>
			<xs:element name="Agent" type="AgentType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="term" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="meddraCode" type="cct:CustomStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StudyType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="identifiers" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="identifier" type="ReducedIdentifierType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
     <xs:complexType name="ReducedIdentifierType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="type" type="cct:StudyIdentifierType"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="organizationAssignedIdentifier" type="OrganizationAssignedIdentifierType"/>
    <xs:complexType name="OrganizationAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element ref="organizationRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="organizationRef" type="OrganizationRefType"/>
    <xs:complexType name="OrganizationRefType">
        <xs:sequence>
        	<xs:element name="name" type="cct:CustomStringType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nciInstituteCode" type="cct:CustomStringType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="systemAssignedIdentifier" type="SystemAssignedIdentifierType"/>
    <xs:complexType name="SystemAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element name="systemName" type="cct:CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="IdentifierType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="type" type="cct:ParticipantIdentifierType"/>
                    <xs:element name="value" type="cct:CustomStringType"/>
                    <xs:element name="primaryIndicator" type="xs:boolean" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:complexType name="StudySiteType">
		<xs:sequence>
			<xs:element type="xs:string" name="statusCode" minOccurs="0"/>
			<xs:element type="StudyType" name="Study"/>
			<xs:element type="cct:OrganizationType" name="Organization" />
		</xs:sequence>
	</xs:complexType>
	
	 <xs:simpleType name="GenderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Male"/>
            <xs:enumeration value="Female"/>
            <xs:enumeration value="Not Reported"/>
            <xs:enumeration value="Unknown"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="EthnicityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Hispanic or Latino"/>
            <xs:enumeration value="Not Hispanic or Latino"/>
            <xs:enumeration value="Not Reported"/>
            <xs:enumeration value="Unknown"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="FirstAndLastNameType">
        <xs:restriction base="xs:normalizedString">
        	<xs:minLength value="1"/>
        	<xs:pattern value="[a-zA-Z0-9_ ]*"></xs:pattern>
            <xs:whiteSpace value="collapse"/> 
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MiddleAndMaidenNameType">
        <xs:restriction base="xs:normalizedString">
        	<xs:pattern value="[a-zA-Z0-9_ ]*"></xs:pattern>
            <xs:whiteSpace value="collapse"/> 
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:simpleType name="RaceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Asian"/>
            <xs:enumeration value="White"/>
            <xs:enumeration value="Black or African American"/>
            <xs:enumeration value="American Indian or Alaska Native"/>
            <xs:enumeration value="Native Hawaiian or Other PacificIslander"/>
            <xs:enumeration value="Not Reported"/>
            <xs:enumeration value="Unknown"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:complexType name="ParticipantType">
		<xs:sequence>
			<xs:element name="firstName" type="FirstAndLastNameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="lastName" type="FirstAndLastNameType" minOccurs="1" maxOccurs="1" />
			<xs:element name="maidenName" type="MiddleAndMaidenNameType" minOccurs="0" />
			<xs:element name="middleName" type="MiddleAndMaidenNameType" minOccurs="0" />
			<xs:choice>
				<xs:element name="birthDate" type="xs:date" />
				<xs:sequence>
					<xs:element name="birthMonth" type="cct:CustomMonthType" minOccurs="1" maxOccurs="1" />
					<xs:element name="birthYear" type="cct:CustomDateType" minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:choice>
			<xs:element name="gender" type="GenderType" minOccurs="1" maxOccurs="1" />
			<xs:element name="race" type="RaceType" minOccurs="1" maxOccurs="1" />
			<xs:element name="ethnicity" type="EthnicityType" minOccurs="1" maxOccurs="1" />

			<xs:element name="identifiers" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="organizationAssignedIdentifier" minOccurs="1" maxOccurs="unbounded" />
						<xs:element ref="systemAssignedIdentifier" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StudyParticipantAssignmentType">
		<xs:sequence>
			<xs:element type="xs:date" name="startDateOfFirstCourse" minOccurs="0" />
			<xs:element type="xs:date" name="dateOfEnrollment" />
			<xs:element type="StudySiteType" name="StudySite" />
			<xs:element type="ParticipantType" name="Participant" />
			<xs:element type="xs:string" name="studySubjectIdentifier" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RadiationInterventionType">
		<xs:sequence>
			<xs:element type="xs:int" name="dosage" />
			<xs:element type="xs:string" name="dosageUnit" />
			<xs:element type="xs:date" name="lastTreatmentDate" />
			<xs:element type="xs:int" name="fractionNumber" />
			<xs:element type="xs:int" name="daysElapsed" />
			<xs:element type="xs:string" name="adjustment" />
			<xs:element type="xs:string" name="administration" />
			<xs:element type="OtherInterventionType" name="OtherIntervention" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterventionSiteType">
		<xs:sequence>
			<xs:element type="xs:string" name="name" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SurgeryInterventionType">
		<xs:sequence>
			<xs:element type="xs:date" name="interventionDate" />
			<xs:element type="InterventionSiteType" name="InterventionSite" />
			<xs:element type="OtherInterventionType" name="OtherIntervention" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BiologicalInterventionType">
		<xs:sequence>
			<xs:element type="xs:string" name="description" />
			<xs:element type="OtherInterventionType" name="OtherIntervention" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DietarySupplementInterventionType">
		<xs:sequence>
			<xs:element type="xs:string" name="description" />
			<xs:element type="OtherInterventionType" name="otherIntervention" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherInterventionType">
		<xs:sequence>
			<xs:element type="xs:string" name="name" />
			<xs:element type="xs:string" name="description" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceType">
		<xs:sequence>
			<xs:element type="xs:string" name="brandName" />
			<xs:element type="xs:string" name="commonName" />
			<xs:element type="xs:string" name="type" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="StudyDeviceType">
           <xs:choice>
           		<xs:sequence>
					<xs:element name="otherBrandName" type="xs:string"/>
                   	<xs:element name="otherCommonName" type="xs:string"/>
                   	<xs:element name="otherDeviceType" type="xs:string"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="device" type="DeviceType" minOccurs="0"/>
                    <xs:element name="catalogNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerName" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerCity" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerState" type="xs:string" minOccurs="0"/>
                    <xs:element name="modelNumber" type="xs:string" minOccurs="0"/>
				</xs:sequence>
           	</xs:choice>
    </xs:complexType>
    
	<xs:complexType name="MedicalDeviceType">
		<xs:sequence>
			<xs:element type="xs:string" name="brandName" minOccurs="0"/>
			<xs:element type="xs:string" name="commonName" minOccurs="0" />
			<xs:element type="xs:string" name="deviceType"  minOccurs="0"/>
			<xs:element type="xs:string" name="manufacturerName"  minOccurs="0"/>
			<xs:element type="xs:string" name="manufacturerCity" minOccurs="0" />
			<xs:element type="xs:string" name="manufacturerState"  minOccurs="0"/>
			<xs:element type="xs:string" name="modelNumber"  minOccurs="0"/>
			<xs:element type="xs:string" name="catalogNumber"  minOccurs="0"/>
			<xs:element type="xs:string" name="serialNumber" minOccurs="0" />
			<xs:element type="xs:string" name="otherNumber" minOccurs="0" />
			<xs:element type="xs:date" name="explantedDate" minOccurs="0" />
			<xs:element type="DeviceOperatorType" name="DeviceOperator" minOccurs="0" />
			<xs:element type="ReprocessedDeviceType" name="DeviceReprocessed" minOccurs="0" />
			<xs:element type="EvaluationAvailabilityType" name="EvaluationAvailability" minOccurs="0"  />
			<xs:element type="StudyDeviceType" name="StudyDevice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConcomitantMedicationType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element minOccurs="0" name="startDate" type="DateValueType" />
			<xs:element minOccurs="0" name="endDate" type="DateValueType" />
			<xs:element name="stillTakingMedications" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherCauseType">
		<xs:sequence>
			<xs:element name="text">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Diabetes mellitus" />
						<xs:enumeration value="Bronchospasm" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoseType">
		<xs:sequence>
			<xs:element name="amount">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="2" />
						<xs:enumeration value="454" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="units">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BVP" />
						<xs:enumeration value="g" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CourseAgentType">
		<xs:sequence>
			<xs:element name="lastAdministeredDate" type="xs:date" />
			<xs:element name="totalDoseAdministeredThisCourse" type="xs:decimal" />
			<xs:element name="administrationDelayAmount" type="xs:decimal" />
			<xs:element name="administrationDelayUnits" type="xs:string" />
			<xs:element name="durationAndSchedule" type="xs:string" />

			<xs:element name="Dose" type="Dose" />
			<xs:element name="ModifiedDose" type="Dose" />

			<xs:element name="StudyAgent" type="StudyAgentType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Dose">
		<xs:sequence>
			<xs:element name="amount" type="xs:string" />
			<xs:element name="units" type="xs:string" />
			<xs:element name="route" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TreatmentInformation">
		<xs:sequence>
			<xs:element name="firstCourseDate" type="xs:date" />
			<xs:element name="CourseDate" type="CourseDate" />
			<xs:element name="CourseAgent" type="CourseAgentType"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CourseDate">
		<xs:sequence>
			<xs:element name="number" type="xs:int" />
			<xs:element name="date" type="xs:date" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OtherCause">
		<xs:sequence>
			<xs:element name="text" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SurgeryAttributionType">
		<xs:sequence>
			<xs:element type="AttributionType" name="attribution"/>
			<xs:element type="SurgeryInterventionType" name="cause" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RadiationAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="RadiationInterventionType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="MedicalDeviceType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BiologicalInterventionAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="BiologicalInterventionType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DietarySupplementInterventionAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="DietarySupplementInterventionType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConcomitantMedicationAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="ConcomitantMedicationType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CourseAgentAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="CourseAgentType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherCauseAttributionType">
		<xs:sequence>
			<xs:element name="attribution" type="xs:string" />
			<xs:element name="cause" type="OtherCauseType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ParticipantHistoryType">
		<xs:sequence>
			<xs:element name="weight" type="MeasureType" minOccurs="0"/>
			<xs:element name="height" type="MeasureType" minOccurs="0"/>
			<xs:element name="baselinePerformanceStatus" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MeasureType">
		<xs:sequence>
			<xs:element name="code" type="xs:int" />
			<xs:element name="quantity" type="xs:double" />
			<xs:element name="unit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CtcTermType">
		<xs:sequence>
			<xs:element name="term" type="xs:string" />
			<xs:element name="select" type="xs:string" />
			<xs:element name="ctepTerm" type="xs:string" />
			<xs:element name="ctepCode" type="xs:int" />
			<xs:element name="otherRequired" type="xs:boolean" />
			<xs:element name="CtcCategory" type="CtcCategoryType" />
			<!--<xs:element name="CtcGrade" type="CtcGrade" maxOccurs="unbounded"/> -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtcCategoryType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="Ctc" type="CtcType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CtcType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LabType">
		<xs:sequence>
			<xs:element type="LabTermType" name="labTerm" minOccurs="0" />
			<xs:element name="units" type="xs:string" minOccurs="0"/>
			<xs:element name="normalRange" type="xs:string" minOccurs="0"/>
			<xs:element name="baseline" type="LabValueType" minOccurs="0"/>
			<xs:element name="nadir" type="LabValueType" minOccurs="0"/>
			<xs:element name="recovery" type="LabValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LabValueType">
		<xs:sequence>
			<xs:element name="value" type="xs:string" />
			<xs:element name="date" type="xs:date" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdverseEventType">
		<xs:sequence>
			<xs:element minOccurs="0" name="verbatim" type="xs:string" />
			<xs:element minOccurs="1" name="grade" type="GradeType" />
			<xs:element minOccurs="0" name="hospitalization" type="HospitalizationType" />
			<xs:element minOccurs="0" name="expected" type="xs:boolean" />
			<xs:element minOccurs="0" name="attributionSummary" type="AttributionType" />
			<xs:element minOccurs="0" name="comments" type="xs:string" />
			<xs:element type="xs:date" name="startDate" minOccurs="0" />
			<xs:element type="xs:date" name="endDate" minOccurs="0" />
			<xs:choice>
				<xs:element minOccurs="0" name="adverseEventCtepTerm" type="AdverseEventCtepTermType" />
				<xs:element minOccurs="0" name="adverseEventMeddraLowLevelTerm"	type="AdverseEventMeddraLowLevelTermType" />
			</xs:choice>
			<xs:element minOccurs="0" name="detailsForOther" type="xs:string" />
			<xs:element type="ConcomitantMedicationAttributionType" name="concomitantMedicationAttribution" maxOccurs="unbounded" minOccurs="0" />
			<xs:element type="OtherCauseAttributionType" name="otherCauseAttribution" maxOccurs="unbounded" minOccurs="0" />
			<xs:element type="CourseAgentAttributionType" name="courseAgentAttribution"	maxOccurs="unbounded" minOccurs="0" />
			<xs:element type="SurgeryAttributionType" name="surgeryAttribution"	minOccurs="0" />
			<xs:element type="RadiationAttributionType" name="radiationAttribution"	minOccurs="0" />
			<xs:element type="DeviceAttributionType" name="deviceAttribution" minOccurs="0" />
			<xs:element type="BiologicalInterventionAttributionType" name="biologicalInterventionAttribution" minOccurs="0" />
			<xs:element type="DietarySupplementInterventionAttributionType"	name="dietarySupplementInterventionAttribution" minOccurs="0" />
			<xs:element type="AdverseEventCtcTermType" name="adverseEventCtcTerm" minOccurs="0" />
			<xs:element type="xs:string" name="lowLevelTerm" minOccurs="0" />
			<xs:element type="OutcomeType" name="outcome" maxOccurs="unbounded"	minOccurs="0" />
			<xs:element minOccurs="0" name="eventApproximateTime" type="TimeType" />
			<xs:element minOccurs="0" name="eventLocation" type="xs:string" />
			<xs:element minOccurs="0" name="externalId" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeType">
		<xs:sequence>
			<xs:element minOccurs="1" name="hour" type="xs:int" />
			<xs:element minOccurs="1" name="minute" type="xs:int" />
			<xs:element minOccurs="1" name="ampm" type="AMPM" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdverseEventCtcTermType">
		<xs:sequence>
			<xs:element name="ctep-term" type="cct:CustomStringType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EpochType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="descriptionText" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdverseEventMeddraLowLevelTermType">
		<xs:sequence>
			<xs:element minOccurs="1" name="meddraCode" type="xs:string" />
			<xs:element minOccurs="1" name="meddraTerm" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdverseEventCtepTermType">
		<xs:sequence>
			<xs:element minOccurs="1" name="ctepCode" type="xs:string" />
			<xs:choice>
				<xs:element minOccurs="0" name="otherMeddra" type="AdverseEventMeddraLowLevelTermType" />
				<xs:element minOccurs="0" name="otherSpecify" type="xs:string" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OutcomeType">
		<xs:sequence>
			<xs:element minOccurs="1" name="outComeEnumType" type="OutComeEnumType" />
			<xs:element minOccurs="0" name="other" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="categoryType">
		<xs:sequence>
			<xs:element type="xs:string" name="name" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabTermType">
		<xs:sequence>
			<xs:element type="xs:string" name="term" />
			<xs:element type="categoryType" name="category" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAEReportPriorTherapyType">
	  	<xs:sequence>
	  		<xs:element name="priorTherapy" type="PriorTherapyType"/>
	   		<xs:element name="other" type="xs:string" minOccurs="0"/>
	  		<xs:element name="startDate" type="DateValueType" minOccurs="0" />
	  		<xs:element name="endDate" type="DateValueType" minOccurs="0"/>	  
  		</xs:sequence>
 	</xs:complexType>	
 	<xs:complexType name="PriorTherapyType">
	  	<xs:sequence>
  			<xs:element name="text" type="xs:string" minOccurs="0"/>
  			<xs:element name="meddraCode" type="xs:string"  minOccurs="0"/>
	  	</xs:sequence>
 	</xs:complexType>	
	<xs:complexType name="TreatmentAssignmentType">
		<xs:sequence>
			<xs:element type="xs:string" name="code" />
			<xs:element type="xs:int" name="doseLevelOrder" minOccurs="0"/>
			<xs:element type="xs:string" name="description" />
			<xs:element type="xs:string" name="comments" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdverseEventCourseType">
		<xs:sequence>
			<xs:element type="xs:int" name="number" />
			<xs:element type="xs:date" name="date" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TreatmentInformationType">
		<xs:sequence>
			<xs:element type="xs:date" name="firstCourseDate" />
			<xs:element type="TreatmentAssignmentType" name="treatmentAssignment" />
			<xs:element type="xs:int" name="totalCourses" />
			<xs:element type="AdverseEventCourseType" name="adverseEventCourse" />
			<xs:element type="CourseAgentType" name="courseAgent"
				maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAEReportPreExistingConditionType">
	  	<xs:sequence>
	  		<xs:element name="preExistingCondition" type="cct:PreExistingConditionType"/>
	   		<xs:element name="other" type="xs:string" minOccurs="0"/>
	  		<xs:element name="linkedToOtherCause" type="xs:boolean" minOccurs="0"/>
  		</xs:sequence>
 	</xs:complexType>	
	<xs:complexType name="AdditionalInformationType">
		<xs:sequence>
			<xs:element type="xs:string" name="autopsyReport" />
			<xs:element type="xs:string" name="consults" />
			<xs:element type="xs:string" name="dischargeSummary" />
			<xs:element type="xs:string" name="flowCharts" />
			<xs:element type="xs:string" name="labReports" />
			<xs:element type="xs:string" name="obaForm" />
			<xs:element type="xs:string" name="other" />
			<xs:element type="xs:string" name="pathologyReport" />
			<xs:element type="xs:string" name="progressNotes" />
			<xs:element type="xs:string" name="radiologyReports" />
			<xs:element type="xs:string" name="referralLetters" />
			<xs:element type="xs:string" name="irbReport" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupType">
		<xs:sequence>
			<xs:element type="xs:string" name="code" />
			<xs:element type="xs:string" name="name" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportDeliveryDefinitionType">
		<xs:sequence>
			<xs:element name="entityName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AdEERS Beta System" />
						<xs:enumeration value="SUB" />
						<xs:enumeration value="REP" />
						<xs:enumeration value="PHY" />
						<xs:enumeration value="PI" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportDefinitionType">
		<xs:sequence>
			<xs:element type="xs:int" name="duration" />
			<xs:element type="xs:string" name="label" />
			<xs:element type="GroupType" name="Group" />
			<xs:element type="TimeScaleUnitType" name="timeScaleUnitType" />
			<xs:element type="ReportDeliveryDefinitionType" name="reportDeliveryDefinition"
				maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ReviewStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DRAFT_INCOMPLETE" />
			<xs:enumeration value="PHYSICIAN_REVIEW" />
			<xs:enumeration value="PHYSICIAN_ADDITIONAL_INFO" />
			<xs:enumeration value="PHYSICIAN_APPROVED" />
			<xs:enumeration value="COORDINATING_CENTER_REVIEW" />
			<xs:enumeration value="COORDINATING_CENTER_ADDITIONAL_INFO" />
			<xs:enumeration value="SUBMIT_TO_SPONSOR" />
			<xs:enumeration value="DATA_COORDINATOR_REVIEW" />
			<xs:enumeration value="DATA_COORDINATOR_ADDITIONAL_INFO" />
			<xs:enumeration value="APPROVED" />
			<xs:enumeration value="SUBMITTED_TO_SPONSOR" />
			<xs:enumeration value="SEND_TO_MEDICAL_MONITOR" />
			<xs:enumeration value="MEDICAL_MONITOR_REVIEW" />
			<xs:enumeration value="MEDICAL_MONITOR_ADDITIONAL_INFO" />
			<xs:enumeration value="COMPILE_COMMENTS" />
			<xs:enumeration value="FINALIZE_REPORT_AND_SUBMIT" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="ReportVersionType">
		<xs:sequence>
			<xs:element type="xs:string" name="reportVersionId" />
			<xs:element type="xs:date" name="createdOn" minOccurs="0" />
			<xs:element type="xs:date" name="dueOn" minOccurs="0" />
			<xs:element type="xs:date" name="submittedOn" minOccurs="0" />
			<xs:element type="xs:date" name="withdrawnOn" minOccurs="0" />
			<xs:element type="xs:date" name="amendedOn" minOccurs="0" />
			<xs:element type="xs:boolean" name="physicianSignoff" minOccurs="0" />
			<xs:element type="xs:string" name="submissionUrl" minOccurs="0" />
			<xs:element type="xs:string" name="email" minOccurs="0" />
			<xs:element type="xs:string" name="submissionMessage" minOccurs="0" />
			<xs:element type="ReportStatusType" name="ReportStatus" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportType">
		<xs:sequence>
			<xs:element type="xs:string" name="adeersReportTypeIndicator" />
			<xs:element type="ReportDefinitionType" name="aeReportDefinition" />
			<xs:element type="ReportVersionType" name="aeReportVersion" />
			<xs:element type="xs:string" name="applicableField" maxOccurs="unbounded" minOccurs="0" />
			<xs:element type="ReviewStatusType" name="reviewStatus" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- FIXED Types -->
	
		<xs:simpleType name="TimeScaleUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SECOND" />
			<xs:enumeration value="MINUTE" />
			<xs:enumeration value="HOUR" />
			<xs:enumeration value="DAY" />
			<xs:enumeration value="WEEK" />
			<xs:enumeration value="MONTH" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ReportStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PENDING" />
			<xs:enumeration value="COMPLETED" />
			<xs:enumeration value="WITHDRAWN" />
			<xs:enumeration value="INPROCESS" />
			<xs:enumeration value="FAILED" />
			<xs:enumeration value="REPLACED" />
				<xs:enumeration value="AMENDED" />
			<xs:enumeration value="WITHDRAW_FAILED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PostAdverseEventStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTERVENTION_CONTINUES" />
			<xs:enumeration value="RECOVERING" />
			<xs:enumeration value="RECOVERED_WITH_SEQUELAE" />
			<xs:enumeration value="RECOVERED_WITHOUT_SEQUELAE" />
			<xs:enumeration value="NOT_RECOVERED" />
			<xs:enumeration value="DEAD" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DeviceOperatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HEALTH_PROFESSIONAL" />
			<xs:enumeration value="PATIENT" />
			<xs:enumeration value="OTHER" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AMPM">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AM" />
			<xs:enumeration value="PM" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OutComeEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEATH" />
			<xs:enumeration value="HOSPITALIZATION" />
			<xs:enumeration value="LIFE_THREATENING" />
			<xs:enumeration value="DISABILITY" />
			<xs:enumeration value="CONGENITAL_ANOMALY" />
			<xs:enumeration value="REQUIRED_INTERVENTION" />
			<xs:enumeration value="OTHER_SERIOUS" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GradeType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<xs:enumeration value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HospitalizationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="YES" />
			<xs:enumeration value="NO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UNRELATED" />
			<xs:enumeration value="UNLIKELY" />
			<xs:enumeration value="POSSIBLE" />
			<xs:enumeration value="PROBABLE" />
			<xs:enumeration value="DEFINITE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EpochNameEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Baseline" />
			<xs:enumeration value="Pre-Treatment" />
			<xs:enumeration value="Treatment" />
			<xs:enumeration value="Post-treatment" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReprocessedDeviceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES" />
			<xs:enumeration value="NO" />
			<xs:enumeration value="UNKNOWN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvaluationAvailabilityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YES" />
			<xs:enumeration value="NO" />
			<xs:enumeration value="UNKNOWN" />
			<xs:enumeration value="RETURNED" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>