caAERS/software/core/src/main/resources/schema/integration/caAERSCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/common"
    xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/common"
    elementFormDefault="unqualified">

    <xs:complexType name="DomainObjectType">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="MutableDomainObjectType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:attribute name="version" type="xs:positiveInteger"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="treatmentAssignment" type="TreatmentAssignmentType"/>
    <xs:complexType name="TreatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="code" type="CustomStringType"/>
                    <xs:element name="doseLevelOrder" type="CustomStringType" minOccurs="0"/>
                    <xs:element name="description" type="CustomStringType"/>
                    <xs:element name="comments" type="CustomStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agentRef" type="AgentRefType"/>
    <xs:complexType name="AgentRefType">
        <xs:sequence>
            <xs:element name="nscNumber" type="CustomStringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="agent" type="AgentType"/>
    <xs:complexType name="AgentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
               <xs:sequence>
                    <xs:element name="name" type="CustomStringType"/>
                    <xs:element name="descriptionText" type="CustomStringType" minOccurs="0"/>
                    <xs:element name="nscNumber" type="CustomStringType"/>
                    <xs:element name="status" type="ActiveInactiveStatusType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Agents">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" ref="agent"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
         
    <xs:element name="preExistingCondition" type="PreExistingConditionType"/>
    <xs:complexType name="PreExistingConditionType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="text" type="CustomStringType" minOccurs="1"/>
                    <xs:element name="meddraLltCode" type="xs:string" minOccurs="1"/>
                    <xs:element name="meddraLlt" type="xs:string" minOccurs="0" />
                    <xs:element name="meddraHlgt" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="PreExistingConditions">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" ref="preExistingCondition"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="priorTherapy" type="PriorTherapyType"/>
    <xs:complexType name="PriorTherapyType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="text" type="CustomStringType" minOccurs="1"/>
                    <xs:element name="meddraCode" type="CustomStringType" minOccurs="1"/>
                    <xs:element name="meddraTerm" type="xs:string"/>
                    <xs:element name="therapyType" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="PriorTherapies">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" ref="priorTherapy"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

    <xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"/>
    <xs:complexType name="InvestigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="indHolder" type="IndHolderType"/>
                    <xs:element name="indNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="indHolder" type="IndHolderType"/>
    <xs:complexType name="IndHolderType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element ref="investigatorRef"/>
                    <xs:element ref="organizationRef"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="diseaseTerm" type="DiseaseTermType"/>
    <xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element name="term" type="CustomStringType"/>
                    <xs:element name="meddraCode" type="CustomStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="OrganizationType"/>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="descriptionText" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="name" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="nciInstituteCode" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="status" type="ActiveInactiveStatusType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="mergedOrganization" type="OrganizationType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="organizationRef" type="OrganizationRefType"/>
    <xs:complexType name="OrganizationRefType">
        <xs:sequence>
            <xs:element name="nciInstituteCode" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="person" type="PersonType"/>
    <xs:complexType name="PersonType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="firstName" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="lastName" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="middleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="researchStaffRef" type="ResearchStaffRefType"/>
    <xs:complexType name="ResearchStaffRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="researchStaff" type="ResearchStaffType"/>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="CustomStringType"/>
                    <xs:element name="loginId" type="xs:string"/>
					<xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"/>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="statusCode" type="ActiveInactiveStatusType"/>
                    <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="siteResearchStaff" type="SiteResearchStaffType"/>
    <xs:complexType name="SiteResearchStaffType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:element name="investigatorRef" type="InvestigatorRefType"/>
    <xs:complexType name="InvestigatorRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="investigator" type="InvestigatorType"/>
    <xs:complexType name="InvestigatorType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="allowedToLogin" type="xs:boolean"/>
                    <xs:element name="loginId" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:simpleType name="RoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPI">
                <xs:annotation>
                    <xs:documentation>Site Principal Investigator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SI">
                <xs:annotation>
                    <xs:documentation>Site Investigator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PI">
                <xs:annotation>
                    <xs:documentation>Principal Investigator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PersonnelRoleCodeType">
        <xs:restriction base="xs:string">

            <xs:enumeration value="system_administrator">
                <xs:annotation>
                    <xs:documentation>System Administrator</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="business_administrator">
                <xs:annotation>
                    <xs:documentation>Business Administrator </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="person_and_organization_information_manager">
                <xs:annotation>
                    <xs:documentation>Person and Organization Information Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="data_importer">
                <xs:annotation>
                    <xs:documentation>Data Importer </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="user_administrator">
                <xs:annotation>
                    <xs:documentation>User Admin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_qa_manager">
                <xs:annotation>
                    <xs:documentation>Study QA Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_creator">
                <xs:annotation>
                    <xs:documentation>Study Creator </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="supplemental_study_information_manager">
                <xs:annotation>
                    <xs:documentation>Supplemantal Study Information Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_team_administrator">
                <xs:annotation>
                    <xs:documentation>Study Team Admin  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_site_participation_administrator">
                <xs:annotation>
                    <xs:documentation>Study Site Participation Admin  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_rule_and_report_manager">
                <xs:annotation>
                    <xs:documentation>AE Rule and Report Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_calendar_template_builder">
                <xs:annotation>
                    <xs:documentation>Study Calendar Template Builder </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="registration_qa_manager">
                <xs:annotation>
                    <xs:documentation>Registration QA Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="subject_manager">
                <xs:annotation>
                    <xs:documentation>Subject Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="study_subject_calendar_manager">
                <xs:annotation>
                    <xs:documentation>Study Subject Calendar Manager </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="registrar">
                <xs:annotation>
                    <xs:documentation>Registrar </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_reporter">
                <xs:annotation>
                    <xs:documentation>AE Reporter </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_expedited_report_reviewer">
                <xs:annotation>
                    <xs:documentation>AE Expedited Report Reviewer </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ae_study_data_reviewer">
                <xs:annotation>
                    <xs:documentation>AE Study Data Reviewer </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lab_impact_calendar_notifier">
                <xs:annotation>
                    <xs:documentation>Lab Impact Calendar Notifier </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lab_data_user">
                <xs:annotation>
                    <xs:documentation>Lab Data User </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="data_reader">
                <xs:annotation>
                    <xs:documentation>Data Reader </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="data_analyst">
                <xs:annotation>
                    <xs:documentation>Data Analyst </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="DesignCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"/>
            <xs:enumeration value="OPEN_UNBLIND"/>
            <xs:enumeration value="PARTIAL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NA_COMMERCIAL"/>
            <xs:enumeration value="IND_EXEMPT"/>
            <xs:enumeration value="DCP_IND"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="CTEP_IND"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="1"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomDateType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[1-2][0-9][0-9][0-9]"></xs:pattern>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomMonthType">
        <xs:restriction base="xs:integer">
            <xs:pattern value="((0[1-9])|(1[0-2]))"></xs:pattern>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeviceType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="commonName" type="xs:string" minOccurs="1"/>
                    <xs:element name="brandName" type="xs:string" minOccurs="1"/>
                    <xs:element name="type" type="xs:string" minOccurs="0"/>
                    <xs:element name="ctepDbIdentifier" type="xs:string" minOccurs="0">
                       <xs:annotation>
                           <xs:documentation>An identifier issued by CTEP for the device, which at the moment is the DB ID of AdEERS.</xs:documentation>
                       </xs:annotation>
                    </xs:element>
                    <xs:element name="status" type="ActiveInactiveStatusType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="TherapyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Drug"/>
            <xs:enumeration value="Radiation"/>
            <xs:enumeration value="Procedure/Surgery"/>
            <xs:enumeration value="Device"/>
            <xs:enumeration value="Behavioral"/>
            <xs:enumeration value="Biological/Vaccine" />
            <xs:enumeration value="Genetic" />
            <xs:enumeration value="Dietary Supplement" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyIdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrails.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
            <xs:enumeration value="NCI Assigned Identifier"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ParticipantIdentifierType">
        <xs:annotation>
            <xs:documentation>
                Medical Record Number - MRN, Cooperative Group Identifier - CC
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MRN"/>
            <xs:enumeration value="CC"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ActiveInactiveStatusType">
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="Active">
              <xs:annotation>
                  <xs:documentation>Active </xs:documentation>
              </xs:annotation>
	      </xs:enumeration>
	      <xs:enumeration value="Inactive">
              <xs:annotation>
              <xs:documentation>InActive </xs:documentation>
          </xs:annotation>
          </xs:enumeration>
	    </xs:restriction>
  	</xs:simpleType>
	
	<xs:complexType name="WsError">
		<xs:sequence>
			<xs:element name="exception" type="xs:string"/>
			<xs:element name="errorDesc" type="xs:string"/>
            <xs:element name="errorCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Processed"/>
			<xs:enumeration value="Partially Processed"/>
			<xs:enumeration value="Failed to Process"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="entityProcessingOutcomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entityProcessingOutcome" minOccurs="0" maxOccurs="unbounded"> </xs:element>
			</xs:sequence>
		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="entityProcessingOutcome" type="EntityProcessingOutcomeType"></xs:element>
    <xs:complexType name="EntityProcessingOutcomeType">
        <xs:sequence>
        	<xs:element name="klassName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="businessIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="dataBaseId" type="xs:string" minOccurs="0"/>
            <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
            <xs:element name="correlationDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="failed" type="xs:boolean" minOccurs="0" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ResponseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:element name="ServiceResponse" type="ServiceResponse" />
    <xs:complexType name="ServiceResponse">
    	<xs:sequence>
    		<xs:element name="status" type="Status"  minOccurs="0"></xs:element>
    		<xs:element name="wsError" type="WsError" minOccurs="0" maxOccurs="unbounded"></xs:element>
    		<xs:element ref="entityProcessingOutcomes" minOccurs="0"></xs:element>
            <xs:element name="message" type="xs:string"  minOccurs="0"></xs:element>
            <xs:element ref="responseData" minOccurs="0"/>
    	</xs:sequence>
        <!-- migrated from study xsd -->
        <xs:attribute name="responsecode" type="ResponseCodeType"></xs:attribute>
    </xs:complexType>
    
    <xs:element name="responseData" type="responseDataType"></xs:element>
    <xs:complexType name="responseDataType">
    		<xs:sequence>
   				<xs:any minOccurs="0" maxOccurs="1"/>
   			</xs:sequence>
    </xs:complexType>
    
    <xs:element name="CaaersServiceResponse">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element ref="ServiceResponse" />
	        </xs:sequence>
	    </xs:complexType>
    </xs:element>
    
    <!-- Common faults. -->
	<xs:element name="SecurityExceptionFault" type="SecurityExceptionFault"/>
	
	<xs:complexType name="BaseFault">
		<xs:sequence>
			<xs:element name="message" type="xs:string"  />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityExceptionFault">
		<xs:complexContent>
			<xs:extension base="BaseFault"/>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
