caAERS/software/core/src/main/resources/schema/integration/caAERSCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/common"
    xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/common"
    elementFormDefault="unqualified">

    <xs:complexType name="DomainObjectType">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>

    <xs:element name="treatmentAssignment" type="TreatmentAssignmentType"/>
    <xs:complexType name="TreatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="code" type="CustomStringType"/>
                    <xs:element name="doseLevelOrder" type="CustomStringType" minOccurs="0"/>
                    <xs:element name="description" type="CustomStringType"/>
                    <xs:element name="comments" type="CustomStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="identifier" type="IdentifierType"/>
    <xs:complexType name="IdentifierType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="value" type="KnownIdentifierTypes"/>
                    <xs:element name="primaryIndicator" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationAssignedIdentifier" type="OrganizationAssignedIdentifierType"/>
    <xs:complexType name="OrganizationAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element ref="organizationRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="systemAssignedIdentifier" type="SystemAssignedIdentifierType"/>
    <xs:complexType name="SystemAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element name="systemName" type="CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agentRef" type="AgentRefType"/>
    <xs:complexType name="AgentRefType">
        <xs:sequence>
            <xs:element name="nscNumber" type="CustomStringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="agent" type="AgentType"/>
    <xs:complexType name="AgentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element name="name" type="CustomStringType"/>
                    <xs:element name="descriptionText" type="CustomStringType"/>
                    <xs:element name="nscNumber" type="CustomStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"/>
    <xs:complexType name="InvestigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="indHolder" type="IndHolderType"/>
                    <xs:element name="indNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="indHolder" type="IndHolderType"/>
    <xs:complexType name="IndHolderType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element ref="investigatorRef"/>
                    <xs:element ref="organizationRef"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="diseaseTerm" type="DiseaseTermType"/>
    <xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element name="term" type="CustomStringType"/>
                    <xs:element name="meddraCode" type="CustomStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="OrganizationType"/>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="descriptionText" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="name" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="nciInstituteCode" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationRef" type="OrganizationRefType"/>
    <xs:complexType name="OrganizationRefType">
        <xs:sequence>
            <xs:element name="nciInstituteCode" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="person" type="PersonType"/>
    <xs:complexType name="PersonType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="firstName" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="lastName" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="middleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="researchStaffRef" type="ResearchStaffRefType"/>
    <xs:complexType name="ResearchStaffRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="researchStaff" type="ResearchStaffType"/>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="CustomStringType"/>
                    <xs:element name="loginId" type="xs:string"/>
					<xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"/>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="statusCode" type="StatusCodeType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="siteResearchStaff" type="SiteResearchStaffType"/>
    <xs:complexType name="SiteResearchStaffType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:element name="investigatorRef" type="InvestigatorRefType"/>
    <xs:complexType name="InvestigatorRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="investigator" type="InvestigatorType"/>
    <xs:complexType name="InvestigatorType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="faxNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="phoneNumber" type="CustomStringType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="allowedToLogin" type="xs:boolean"/>
                    <xs:element name="loginId" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="RoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Principle Investigator"/>
            <xs:enumeration value="Site Investigator"/>
            <xs:enumeration value="Principal Investigator"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PersonnelRoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Participant Coordinator"/>
            <xs:enumeration value="Study Coordinator"/>
            <xs:enumeration value="Adverse Event Coordinator"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="StatusCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACT">
                <xs:annotation>
					  <xs:documentation>Active </xs:documentation>
 				</xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INA">
            	<xs:annotation>
					  <xs:documentation>Inactive </xs:documentation>
 				</xs:annotation>            
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DesignCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"/>
            <xs:enumeration value="OPEN_UNBLIND"/>
            <xs:enumeration value="PARTIAL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NA_COMMERCIAL"/>
            <xs:enumeration value="IND_EXEMPT"/>
            <xs:enumeration value="DCP_IND"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="CTEP_IND"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="1"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TherapyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Drug Administration"/>
            <xs:enumeration value="Radiation"/>
            <xs:enumeration value="Surgery"/>
            <xs:enumeration value="Device"/>
            <xs:enumeration value="Behavioral"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="KnownIdentifierTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrails.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
        </xs:restriction>
    </xs:simpleType>
    
	
	<xs:complexType name="WsError">
		<xs:sequence>
			<xs:element name="exception" type="xs:string"/>
			<xs:element name="errorDesc" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Processed"/>
			<xs:enumeration value="Failed to Process"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="ServiceResponse" type="ServiceResponse" />
    <xs:complexType name="ServiceResponse">
    	<xs:sequence>
    		<xs:element name="status" type="Status"></xs:element>
    		<xs:element name="wsError" type="WsError" minOccurs="0" maxOccurs="unbounded"></xs:element>
    	</xs:sequence>
    </xs:complexType>
    
        <xs:element name="CaaersServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ServiceResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
