caAERS/software/core/src/main/resources/schema/integration/Icsr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Generated from icsr-xml-v2.1.dtd
-->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace='http://schema.integration.caaers.cabig.nci.nih.gov/icsr'
  xmlns:ich='http://schema.integration.caaers.cabig.nci.nih.gov/icsr'
  elementFormDefault="qualified">

 <xs:element name='ichicsr'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:ichicsrmessageheader'/>
    <xs:element ref='ich:safetyreport' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='lang' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='ichicsrmessageheader'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:messagetype'/>
    <xs:element ref='ich:messageformatversion'/>
    <xs:element ref='ich:messageformatrelease'/>
    <xs:element ref='ich:messagenumb'/>
    <xs:element ref='ich:messagesenderidentifier'/>
    <xs:element ref='ich:messagereceiveridentifier'/>
    <xs:element ref='ich:messagedateformat'/>
    <xs:element ref='ich:messagedate'/>
   </xs:sequence>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

    <xs:element name='messagetype'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messageformatversion'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messageformatrelease'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagenumb'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagesenderidentifier'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagereceiveridentifier'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagedateformat'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>

    <xs:element name='messagedate'>
        <xs:complexType mixed='true'>
            <xs:attribute name='lang' type='xs:string' use='optional'/>
        </xs:complexType>
    </xs:element>


 <xs:element name='safetyreport'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:safetyreportversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:safetyreportid'/>
    <xs:element ref='ich:primarysourcecountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:occurcountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:transmissiondateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:transmissiondate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporttype' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:serious' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:seriousnessdeath' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:seriousnesslifethreatening' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:seriousnesshospitalization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:seriousnessdisabling' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:seriousnesscongenitalanomali' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:seriousnessother' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivedateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivedate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiptdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiptdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:additionaldocument' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:documentlist' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:fulfillexpeditecriteria' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:authoritynumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:companynumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:duplicate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:casenullification' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:nullificationreason' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:medicallyconfirm' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='ich:reportduplicate' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:linkedreport' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:primarysource' maxOccurs='unbounded'/>
     <xs:element ref='ich:sender'/>
     <xs:element ref='ich:receiver'/>
     <xs:element ref='ich:patient'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reportduplicate'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:duplicatesource' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:duplicatenumb' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='linkedreport'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:linkreportnumb' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='primarysource'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:reportertitle' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reportergivename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reportermiddlename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporterfamilyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporterorganization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporterdepartment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporterstreet' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reportercity' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporterstate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reporterpostcode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reportercountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:qualification' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:literaturereference' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:studyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sponsorstudynumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:observestudytype' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='sender'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:sendertype' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderorganization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderdepartment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendertitle' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendergivename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendermiddlename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderfamilyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderstreetaddress' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendercity' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderstate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderpostcode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendercountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendertel' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendertelextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendertelcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderfax' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderfaxextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderfaxcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderemailaddress' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='receiver'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:receivertype' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverorganization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverdepartment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivertitle' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivergivename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivermiddlename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverfamilyname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverstreetaddress' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivercity' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverstate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverpostcode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivercountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivertel' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivertelextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receivertelcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverfax' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverfaxextension' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiverfaxcountrycode' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:receiveremailaddress' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patient'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:patientinitial' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientgpmedicalrecordnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientspecialistrecordnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patienthospitalrecordnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientinvestigationnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientbirthdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientbirthdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientonsetage' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientonsetageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:gestationperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:gestationperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientagegroup' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientweight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientheight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientsex' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:lastmenstrualdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientlastmenstrualdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalhistorytext' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:resultstestsprocedures' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='ich:medicalhistoryepisode' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:patientpastdrugtherapy' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:patientdeath' minOccurs='0' maxOccurs='1'/>
     <xs:element ref='ich:parent' minOccurs='0' maxOccurs='1'/>
     <xs:element ref='ich:reaction' maxOccurs='unbounded'/>
     <xs:element ref='ich:test' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:drug' maxOccurs='unbounded'/>
     <xs:element ref='ich:summary' minOccurs='0' maxOccurs='1'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='medicalhistoryepisode'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:patientepisodenamemeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientepisodename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalcontinue' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientmedicalcomment' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientpastdrugtherapy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:patientdrugname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrugstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrugstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrugenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrugenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientindicationmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrugindication' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrgreactionmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdrugreaction' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeath'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:patientdeathdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdeathdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientautopsyyesno' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='ich:patientdeathcause' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:patientautopsy' minOccurs='0' maxOccurs='unbounded'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathcause'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:patientdeathreportmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdeathreport' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='patientautopsy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:patientdetermautopsmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:patientdetermineautopsy' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parent'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:parentidentification' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentbirthdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentbirthdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentage' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentlastmenstrualdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentlastmenstrualdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentweight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentheight' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentsex' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalrelevanttext' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='ich:parentmedicalhistoryepisode' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:parentpastdrugtherapy' minOccurs='0' maxOccurs='unbounded'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalhistoryepisode'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:parentmdepisodemeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalepisodename' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalcontinue' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentmedicalcomment' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentpastdrugtherapy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:parentdrugname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrugstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrugstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrugenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrugenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrgindicationmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrugindication' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrgreactionmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:parentdrugreaction' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reaction'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:primarysourcereaction' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionmeddraversionllt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionmeddrallt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionmeddraversionpt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionmeddrapt' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:termhighlighted' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionduration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactiondurationunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionfirsttime' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionfirsttimeunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionlasttime' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionlasttimeunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactionoutcome' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='test'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:testdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:testdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:testname' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:testresult' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:testunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:lowtestrange' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:hightestrange' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:moreinformation' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drug'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:drugcharacterization' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:medicinalproduct' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:obtaindrugcountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugbatchnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugauthorizationnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugauthorizationcountry' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugauthorizationholder' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugstructuredosagenumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugstructuredosageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugseparatedosagenumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugintervaldosageunitnumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugintervaldosagedefinition' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugcumulativedosagenumb' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugcumulativedosageunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugdosagetext' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugdosageform' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugadministrationroute' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugparadministration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactiongestationperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reactiongestationperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugindicationmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugindication' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugstartdateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugstartdate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugstartperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugstartperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:druglastperiod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:druglastperiodunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugenddateformat' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugenddate' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugtreatmentduration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugtreatmentdurationunit' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:actiondrug' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugrecurreadministration' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugadditional' minOccurs='0' maxOccurs='1'/>
    <xs:sequence>
     <xs:element ref='ich:activesubstance' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:drugrecurrence' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ich:drugreactionrelatedness' minOccurs='0' maxOccurs='unbounded'/>
    </xs:sequence>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='activesubstance'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:activesubstancename'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecurrence'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:drugrecuractionmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugrecuraction'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugreactionrelatedness'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:drugreactionassesmeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugreactionasses' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugassessmentsource' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugassessmentmethod' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:drugresult' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='summary'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ich:narrativeincludeclinical' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:reportercomment' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderdiagnosismeddraversion' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:senderdiagnosis' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ich:sendercomment' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='safetyreportversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='safetyreportid'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='primarysourcecountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='occurcountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='transmissiondateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='transmissiondate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reporttype'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='serious'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnessdeath'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnesslifethreatening'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnesshospitalization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnessdisabling'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnesscongenitalanomali'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='seriousnessother'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivedateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivedate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiptdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiptdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='additionaldocument'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='documentlist'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='fulfillexpeditecriteria'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='authoritynumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='companynumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='duplicate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='duplicatesource'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='duplicatenumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='linkreportnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='casenullification'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='nullificationreason'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='medicallyconfirm'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportertitle'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportergivename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportermiddlename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterfamilyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterorganization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterdepartment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterstreet'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportercity'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterstate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reporterpostcode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reportercountry'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='qualification'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='literaturereference'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='studyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sponsorstudynumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='observestudytype'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertype'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderorganization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderdepartment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertitle'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendergivename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendermiddlename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfamilyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderstreetaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendercity'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderstate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderpostcode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendercountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertel'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertelextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='sendertelcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfax'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfaxextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderfaxcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='senderemailaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertype'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverorganization'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverdepartment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertitle'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivergivename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivermiddlename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfamilyname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverstreetaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivercity'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverstate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverpostcode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivercountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertel'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertelextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receivertelcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfax'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfaxextension'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiverfaxcountrycode'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='receiveremailaddress'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientinitial'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientgpmedicalrecordnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientspecialistrecordnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patienthospitalrecordnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientinvestigationnumb'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientbirthdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientbirthdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientonsetage'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientonsetageunit'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='gestationperiod'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='gestationperiodunit'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientagegroup'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientweight'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientheight'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientsex'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='lastmenstrualdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientlastmenstrualdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientepisodenamemeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientepisodename'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalstartdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalstartdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalcontinue'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalenddateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalenddate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalcomment'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientmedicalhistorytext'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugname'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugstartdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugstartdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugenddateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugenddate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientindicationmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugindication'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrgreactionmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdrugreaction'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathreportmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdeathreport'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientautopsyyesno'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdetermautopsmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='patientdetermineautopsy'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentidentification'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentbirthdateformat'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentbirthdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentage'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='parentageunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentlastmenstrualdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentlastmenstrualdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentweight'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentheight'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentsex'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmdepisodemeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalepisodename'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalstartdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalcontinue'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalcomment'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentmedicalrelevanttext'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugname'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugstartdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrgindicationmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugindication'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrgreactionmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parentdrugreaction'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='primarysourcereaction'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddraversionllt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddrallt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddraversionpt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionmeddrapt'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='termhighlighted'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionstartdate'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionduration'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactiondurationunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionfirsttime'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionfirsttimeunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionlasttime'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionlasttimeunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactionoutcome'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testname'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testresult'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='testunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='lowtestrange'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='hightestrange'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='moreinformation'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='resultstestsprocedures'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugcharacterization'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='medicinalproduct'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='activesubstancename'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='obtaindrugcountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugbatchnumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugauthorizationnumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugauthorizationcountry'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugauthorizationholder'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstructuredosagenumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstructuredosageunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugseparatedosagenumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugintervaldosageunitnumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugintervaldosagedefinition'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugcumulativedosagenumb'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugcumulativedosageunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugdosagetext'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugdosageform'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugadministrationroute'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugparadministration'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactiongestationperiod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reactiongestationperiodunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugindicationmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugindication'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartdateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartdate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartperiod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugstartperiodunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='druglastperiod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='druglastperiodunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugenddateformat'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugenddate'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugtreatmentduration'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='drugtreatmentdurationunit'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='actiondrug'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecurreadministration'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecuractionmeddraversion'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='drugrecuraction'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugreactionassesmeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugreactionasses'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugassessmentsource'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugassessmentmethod'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugresult'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='drugadditional'>
  <xs:complexType mixed='true'>
   
  </xs:complexType>
 </xs:element>

 <xs:element name='narrativeincludeclinical'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='reportercomment'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='senderdiagnosismeddraversion'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='senderdiagnosis'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='sendercomment'>
  <xs:complexType mixed='true'>
      <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
