caAERS/software/core/src/main/resources/schema/integration/ManageAdverseEventsSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/adverseevent"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/adverseevent"
           xmlns:cct="http://schema.integration.caaers.cabig.nci.nih.gov/common">


    <xs:import namespace="http://schema.integration.caaers.cabig.nci.nih.gov/common" schemaLocation="caAERSCommonTypes.xsd"/>

    <xs:element name="AdverseEventsInputMessage">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions.             	
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence> 
            	<xs:choice>         	
	                <xs:element ref="adverseEvents">
	                        <xs:annotation>
					            <xs:documentation> List of Adverse Events to create or update. </xs:documentation>
					        </xs:annotation>
	                </xs:element>

                </xs:choice>  
                <xs:element ref="criteria">
                        <xs:annotation>
				            <xs:documentation>Adverse Event Creation Criteria .
				            	Required Criteria : StudySubject Identifier, Study Identifier, course/cycle information.
				            	Conditions enforced in service implementation.
				            	1. Participant and Study should be existing in caAERS.
				            	2. Participant should be registered in that study.
				            	3. Adverse Event Management Service creates course if course is not present in caAERS System.   	
				            </xs:documentation>
				        </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>

	                
    <xs:element name="criteria" type="Criteria"/>   

 	<xs:complexType name="Criteria">
        <xs:sequence>
        	<xs:element minOccurs="1" name="studySubjectIdentifier" type="cct:CustomStringType"/>
        	<xs:element minOccurs="1" name="studyIdentifier" type="cct:CustomStringType"/>
        	<xs:element minOccurs="1" name="course" type="CourseType"/>
        </xs:sequence>
    </xs:complexType>         	


    <xs:complexType name="CourseType">
                <xs:sequence>
                	<xs:annotation>
				            <xs:documentation>
				            	Course Criteria Conditions enforced in service Implementation.
				            	1. Start date of this course/cycle cannot be earlier than the Start date of first course/cycle.
				            	2. Course End date cannot be earlier than Start date.
				            	3. For Non-Baseline treatment type Start date cannot be equal to End date.
				            	4. Course/cycle cannot overlap with an existing course/cycle.
								5. Baseline treatment type cannot start after an existing Non-Baseline treatment type.
								6. Non-Baseline treatment type cannot start before an existing Baseline treatment type.
				            	
				            </xs:documentation>
				     </xs:annotation>
                    <xs:element minOccurs="0" name="startDateOfFirstCourse" type="xs:date"/>
                    <xs:element minOccurs="1" name="startDateOfThisCourse" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDateOfThisCourse" type="xs:date"/>
                    <xs:element minOccurs="0" name="treatmentType" type="xs:string"/>
                    <xs:element minOccurs="0" name="cycleNumber" type="xs:integer"/>
                    <xs:choice>
	                    <xs:element minOccurs="1" name="treatmentAssignmentCode" type="xs:string"/>
	                    <xs:element minOccurs="1" name="otherTreatmentAssignmentDescription" type="xs:string"/>
                    </xs:choice>
                    <xs:element minOccurs="0" name="externalId" type="xs:string"/>
                </xs:sequence> 
    </xs:complexType>


    <xs:element name="adverseEvents">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="adverseEvent"/>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
    
    
    <xs:element name="adverseEvent" type="AdverseEventType"/>
    <xs:complexType name="AdverseEventType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                	<xs:element minOccurs="0" name="verbatim" type="xs:string"/>
                    <xs:element minOccurs="1" name="grade" type="GradeType"/>
                    <xs:element minOccurs="0" name="hospitalization" type="HospitalizationType"/>
                    <xs:element minOccurs="0" name="expected" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="attributionSummary" type="AttributionType"/>
                    <xs:element minOccurs="0" name="comments" type="xs:string"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:date"/>  
                  	
                   	<xs:element minOccurs="0" name="ctepCode" type="xs:string"/>
                   	<xs:element minOccurs="0" name="adverseEventMeddraLowLevelTerm" type="AdverseEventMeddraLowLevelTermType"/>

                    <xs:element minOccurs="0" name="otherMeddra" type="AdverseEventMeddraLowLevelTermType"/>
                   	<xs:element maxOccurs="unbounded" minOccurs="0" name="outcome" type="OutcomeType"/>  
                    <xs:element minOccurs="0" name="eventApproximateTime" type="TimeType"/>
                    <xs:element minOccurs="0" name="eventLocation" type="xs:string"/>
                    <xs:element minOccurs="0" name="externalId" type="xs:string"/>
                    <!-- <xs:element name="requiresReporting" type="xs:boolean" minOccurs="0"/>  -->
                   <!-- <xs:element name="gradedDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="reported" type="xs:boolean" minOccurs="0"/>	-->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
   </xs:complexType>  
    <xs:complexType name="TimeType">
                <xs:sequence>
                  <xs:element minOccurs="1" name="hour" type="xs:integer"/>
                  <xs:element minOccurs="1" name="minute" type="xs:integer"/>
                  <xs:element minOccurs="1" name="ampm" type="AMPM"/>
                </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdverseEventCtcTermType">
                <xs:sequence>
                  <xs:element name="ctep-term" type="cct:CustomStringType"/>
                  <!--
                  <xs:element name="ctep-code" type="xs:string"/>
                  <xs:element name="ctc-version" type="CtcVersionEnum"/>-->
                </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EpochType">
                <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="descriptionText" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
           
    <xs:complexType name="AdverseEventMeddraLowLevelTermType">
                <xs:sequence>
                  <xs:element minOccurs="1" name="meddraCode" type="xs:string"/>
                  <xs:element minOccurs="1" name="meddraTerm" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
        

    <xs:complexType name="OutcomeType">
                <xs:sequence>
                  <xs:element minOccurs="1" name="outComeEnumType" type="OutComeEnumType"/>
                  <xs:element minOccurs="0" name="other" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
    
	<!-- FIXED Types  --> 
    <xs:simpleType name="AMPM">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AM"/>
            <xs:enumeration value="PM"/>
        </xs:restriction>
    </xs:simpleType>
    	
    <xs:simpleType name="CtcVersionEnum">
        <xs:restriction base="xs:int">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType> 	
	      
     
    <xs:simpleType name="OutComeEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEATH"/>
            <xs:enumeration value="HOSPITALIZATION"/>
            <xs:enumeration value="LIFE_THREATENING"/>
            <xs:enumeration value="DISABILITY"/>
            <xs:enumeration value="CONGENITAL_ANOMALY"/>
            <xs:enumeration value="REQUIRED_INTERVENTION"/>
            <xs:enumeration value="OTHER_SERIOUS"/>
        </xs:restriction>
    </xs:simpleType>   
          
    <xs:simpleType name="GradeType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
        </xs:restriction>
    </xs:simpleType>     
    <xs:simpleType name="HospitalizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>    
    <xs:simpleType name="AttributionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNRELATED"/>
            <xs:enumeration value="UNLIKELY"/>
            <xs:enumeration value="POSSIBLE"/>
            <xs:enumeration value="PROBABLE"/>
            <xs:enumeration value="DEFINITE"/>
        </xs:restriction>
    </xs:simpleType>  
    <xs:simpleType name="EpochNameEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Baseline"/>
            <xs:enumeration value="Pre-Treatment"/>
            <xs:enumeration value="Treatment"/>
            <xs:enumeration value="Post-treatment"/>
        </xs:restriction>
    </xs:simpleType>    

</xs:schema>
