caAERS/software/core/src/main/resources/schema/integration/ManageAdverseEventsSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://webservice.caaers.cabig.nci.nih.gov/adverseevent"    
    xmlns="http://webservice.caaers.cabig.nci.nih.gov/adverseevent"

    elementFormDefault="unqualified">

            
    <xs:element name="AdverseEventsInputMessage">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions.             	
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence> 
            	<xs:choice>         	
	                <xs:element ref="adverseEvents">
	                        <xs:annotation>
					            <xs:documentation> List of Adverse Events to create or update. </xs:documentation>
					        </xs:annotation>
	                </xs:element>
					<xs:element ref="adverseEventTerms">
	                        <xs:annotation>
					            <xs:documentation> List of Adverse Event Terms to delete. </xs:documentation>
					        </xs:annotation>						
					</xs:element>
                </xs:choice>  
                <xs:element ref="criteria">
                        <xs:annotation>
				            <xs:documentation>Adverse Event Creation Criteria .
				            	Required Criteria : Participant Identifier , Stuy Identifier , course/cycle information.
				            	Conditions enforced in servive implementation.
				            	1. Participant and Study should be existing in caAERS.
				            	2. Adverse Event Management Service creates course if course is not present in caAERS System.   	
				            </xs:documentation>
				        </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
    <xs:element name="adverseEventTerms" type="AdverseEventTerms"/>   
    <xs:complexType name="AdverseEventTerms">
	         <xs:choice> 
	         		<xs:element name="adverseEventMeddraLowLevelTerm" type="AdverseEventMeddraLowLevelTermType" minOccurs="1" maxOccurs="unbounded"/>                   	
	                <xs:element name="adverseEventCtcTerm" type="AdverseEventCtcTermType" minOccurs="1" maxOccurs="unbounded"/>
             </xs:choice>
     </xs:complexType>
	                
    <xs:element name="criteria" type="Criteria"/>   

 	<xs:complexType name="Criteria">
        <xs:sequence>
        	<xs:element name="participantIdentifier" type="CustomStringType" minOccurs="1"/>
        	<xs:element name="studyIdentifier" type="CustomStringType" minOccurs="1"/>
        	<xs:element name="course" type="CourseType" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>         	


    <xs:complexType name="CourseType">
                <xs:sequence>
                	<xs:annotation>
				            <xs:documentation>
				            	Course Criteria Conditions enforced in service Implementation.
				            	1. Start date of this course/cycle cannot be earlier than the Start date of first course/cycle.
				            	2. Course End date cannot be earlier than Start date.
				            	3. For Non-Baseline treatment type Start date cannot be equal to End date.
				            	4. Course/cycle cannot overlap with an existing course/cycle.
								5. Baseline treatment type cannot start after an existing Non-Baseline treatment type.
								6. Non-Baseline treatment type cannot start before an existing Baseline treatment type.
				            	
				            </xs:documentation>
				     </xs:annotation>
                    <xs:element name="startDateOfFirstCourse" type="xs:date" minOccurs="0"/>
                    <xs:element name="startDateOfThisCourse" type="xs:date" minOccurs="1"/>
                    <xs:element name="endDateOfThisCourse" type="xs:date" minOccurs="0"/>
                    <xs:element name="treatmentType" type="CustomStringType" minOccurs="1"/>
                    <xs:element name="cycleNumber" type="xs:integer" minOccurs="0"/>
                    <xs:choice>
	                    <xs:element name="treatmentAssignmentCode" type="xs:string" minOccurs="1"/>
	                    <xs:element name="otherTreatmentAssignmentDescription" type="xs:string" minOccurs="1"/>
                    </xs:choice>
                </xs:sequence> 
    </xs:complexType>


    <xs:element name="adverseEvents">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="adverseEvent" />
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
    
    <xs:complexType name="DomainObject">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
    
    <xs:complexType name="MutableDomainObject">
        <xs:complexContent>
            <xs:extension base="DomainObject">
                <xs:attribute name="version" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  
    
    <xs:element name="adverseEvent" type="AdverseEventType"/>
    <xs:complexType name="AdverseEventType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                	<xs:element name="verbatim" type="xs:string" minOccurs="0"/>
                    <xs:element name="grade" type="GradeType" minOccurs="1"/>
                    <xs:element name="hospitalization" type="HospitalizationType" minOccurs="0"/>
                    <xs:element name="expected" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="attributionSummary" type="AttributionType" minOccurs="0"/>
                    <xs:element name="comments" type="xs:string" minOccurs="0"/>
                    <xs:element name="startDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="endDate" type="xs:date" minOccurs="0"/>  
                    <xs:choice>                    	
                   		<xs:element name="adverseEventCtcTerm" type="AdverseEventCtcTermType" minOccurs="1"/>
                   		<xs:element name="adverseEventMeddraLowLevelTerm" type="AdverseEventMeddraLowLevelTermType" minOccurs="1"/>
                    </xs:choice> 
                    <xs:element name="otherMeddra" type="AdverseEventMeddraLowLevelTermType" minOccurs="0"/>
                   	<xs:element name ="outcome" type="OutcomeType" minOccurs="0" maxOccurs="unbounded"/>  
                    <xs:element name="eventApproximateTime" type="TimeType" minOccurs="0"/>
                    <xs:element name="eventLocation" type="xs:string" minOccurs="0"/>
                    <!-- <xs:element name="requiresReporting" type="xs:boolean" minOccurs="0"/>  -->
                   <!-- <xs:element name="gradedDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="reported" type="xs:boolean" minOccurs="0"/>	-->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
   </xs:complexType>  
    <xs:complexType name="TimeType">
                <xs:sequence>
                  <xs:element name="hour" type="xs:integer" minOccurs="1"/>
                  <xs:element name="minute" type="xs:integer" minOccurs="1"/>
                  <xs:element name="ampm" type="AMPM" minOccurs="1"/>
                </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdverseEventCtcTermType">
                <xs:sequence>
                  <xs:element name="ctep-term" type="CustomStringType"/>
                  <!--
                  <xs:element name="ctep-code" type="xs:string"/>
                  <xs:element name="ctc-version" type="CtcVersionEnum"/>-->
                </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EpochType">
                <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="descriptionText" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
           
    <xs:complexType name="AdverseEventMeddraLowLevelTermType">
                <xs:sequence>
                  <xs:element name="meddraCode" type="xs:string" minOccurs="1"/>
                  <xs:element name="meddraTerm" type="xs:string" minOccurs="1"/>
                </xs:sequence>
    </xs:complexType> 
        

    <xs:complexType name="OutcomeType">
                <xs:sequence>
                  <xs:element name="outComeEnumType" type="OutComeEnumType" minOccurs="1"/>
                  <xs:element name="other" type="xs:string" minOccurs="0"/>
                </xs:sequence>
    </xs:complexType> 
    
	<!-- FIXED Types  --> 
    <xs:simpleType name="AMPM">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AM"/>
            <xs:enumeration value="PM"/>
        </xs:restriction>
    </xs:simpleType>
    	
    <xs:simpleType name="CtcVersionEnum">
        <xs:restriction base="xs:int">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType> 	
	      
     
    <xs:simpleType name="OutComeEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEATH"/>
            <xs:enumeration value="HOSPITALIZATION"/>
            <xs:enumeration value="LIFE_THREATENING"/>
            <xs:enumeration value="DISABILITY"/>
            <xs:enumeration value="CONGENITAL_ANOMALY"/>
            <xs:enumeration value="REQUIRED_INTERVENTION"/>
            <xs:enumeration value="OTHER_SERIOUS"/>
        </xs:restriction>
    </xs:simpleType>   
          
    <xs:simpleType name="GradeType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
        </xs:restriction>
    </xs:simpleType>     
    <xs:simpleType name="HospitalizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>    
    <xs:simpleType name="AttributionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNRELATED"/>
            <xs:enumeration value="UNLIKELY"/>
            <xs:enumeration value="POSSIBLE"/>
            <xs:enumeration value="PROBABLE"/>
            <xs:enumeration value="DEFINITE"/>
        </xs:restriction>
    </xs:simpleType>  
    <xs:simpleType name="EpochNameEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Baseline"/>
            <xs:enumeration value="Pre-Treatment"/>
            <xs:enumeration value="Treatment"/>
            <xs:enumeration value="Post-treatment"/>
        </xs:restriction>
    </xs:simpleType>    

	<xs:simpleType name="ResponseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>    
    </xs:simpleType>
	
	<xs:element name="Response" type="Response" />
    <xs:complexType name="Response">
    	<xs:sequence>
    		<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    	</xs:sequence>
    	<xs:attribute name="responsecode" type="ResponseCodeType"></xs:attribute>
    </xs:complexType>
    
    <xs:element name="CaaersServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Response" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
           <xs:minLength value="1"/>
           <xs:whiteSpace value="collapse"/> 
        </xs:restriction>
    </xs:simpleType>  
    

</xs:schema>
    