caAERS/software/core/src/main/resources/schema/integration/StudySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://webservice.caaers.cabig.nci.nih.gov"
    xmlns="http://webservice.caaers.cabig.nci.nih.gov"
    elementFormDefault="unqualified">
    
    <xs:element name="studies">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="study" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="DomainObject">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>


    <xs:complexType name="MutableDomainObject">
        <xs:complexContent>
            <xs:extension base="DomainObject">
                <xs:attribute name="version" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="study" type="study"/>
    <xs:complexType name="study">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">

                <xs:sequence>
                    <xs:element name="shortTitle" type="CustomStringType" />
                    <xs:element name="longTitle" type="CustomStringType" />
                    <xs:element name="precis" type="CustomStringType" minOccurs="0"/>
                    <xs:element name="description" type="CustomStringType" minOccurs="0"/>
                    <xs:element name="phaseCode" type="StudyPhaseType" />
                    <xs:element name="status" type="StatusType" />
                    <xs:element name="multiInstitutionIndicator" type="xs:boolean" />
                    <xs:element name="adeersReporting" type="xs:boolean" />
                    <xs:element name="otherMeddra" type="xs:string" minOccurs="0"/>
                    <xs:element ref="aeTerminology"/>
                    
                    <xs:element ref="diseaseTerminology"/>
                    <xs:element name="design" type="DesignCodeType" minOccurs="0"/>
                    
                    <xs:element name="drugAdministrationTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="deviceTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="radiationTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="surgeryTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="behavioralTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="biologicalTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="geneticTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="dietarySupplementTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="otherTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>

                    <xs:element name="reportTypeCaaersXML" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeAdeersPDF" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeMedwatchPDF" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeDCPSAEForm" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeCIOMSForm" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeCIOMSAEForm" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>

                    <xs:element name="fundingSponsor" type="FundingSponsorType" />
                    <xs:element name="coordinatingCenter" type="CoordinatingCenterType"/>
                    
                    <xs:element name="studyOrganizations">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studySite" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="identifiers" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="organizationAssignedIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="systemAssignedIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    
                    <xs:element name="treatmentAssignments" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="treatmentAssignment" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="studyAgents" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgent" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:choice minOccurs="0">
	                    <xs:element name="ctepStudyDiseases">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="ctepStudyDisease"  maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
	                    
	                    <xs:element name="meddraStudyDiseases">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="meddraStudyDisease" maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
                    </xs:choice>
                    
                    <xs:element name="evaluationPeriods" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="evaluationPeriod" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="studyDevices">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyDevice" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:choice minOccurs="0">
	                    <xs:element name="expectedAECtcTerms">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="expectedAECtcTerm"  maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
	                    
	                    <xs:element name="expectedAEMeddraTerms">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="expectedAEMeddraTerm" maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
                    </xs:choice>
					
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyFundingSponsor" type="StudyFundingSponsorType"/>
    <xs:complexType name="StudyFundingSponsorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">

                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="studySite" type="StudySiteType"/>
    <xs:complexType name="StudySiteType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="startDate"  type="xs:date" minOccurs="0" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="studyCoordinatingCenter" type="StudyCoordinatingCenterType"/>
    <xs:complexType name="StudyCoordinatingCenterType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" 
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" 
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
    <xs:element name="studyInvestigator" type="StudyInvestigatorType"/>
    <xs:complexType name="StudyInvestigatorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="roleCode" type="RoleCodeType"/>
                    <xs:element name="startDate"  type="xs:date" minOccurs="0" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="siteInvestigator"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyPersonnel" type="StudyPersonnelType"/>
    <xs:complexType name="StudyPersonnelType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="roleCode" type="PersonnelRoleCodeType" />
                    <xs:element name="startDate"  type="xs:date" minOccurs="1" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="researchStaff"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"/>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="investigator" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="investigator" type="InvestigatorType"/>
    <xs:complexType name="InvestigatorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="firstName" type="CustomStringType"/>
                    <xs:element name="lastName" type="CustomStringType"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="researchStaff" type="ResearchStaffType"/>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="firstName" type="CustomStringType"/>
                    <xs:element name="lastName" type="CustomStringType"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="OrganizationType"/>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="CustomStringType"/>
                    <xs:element name="nciInstituteCode" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="treatmentAssignment" type="TreatmentAssignmentType"/>
    <xs:complexType name="TreatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="code" type="CustomStringType"/>
                    <xs:element name="doseLevelOrder" type="CustomStringType" minOccurs="0"/>
                    <xs:element name="description" type="CustomStringType"/>
                    <xs:element name="comments" type="CustomStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="studyAgent" type="StudyAgentType"/>
    <xs:complexType name="StudyAgentType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="agent"/>
                        <xs:element name="otherAgent" type="CustomStringType"/>
                    </xs:choice>
                    <xs:element type="IndType" name="indType"/>
                    <xs:element type="xs:boolean" name="partOfLeadIND" minOccurs="0" />
                    <xs:element name="studyAgentINDAssociations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgentINDAssociation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agent" type="AgentType"/>
    <xs:complexType name="AgentType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:choice>
                    <xs:element name="name" type="CustomStringType"/>
                    <xs:element name="nscNumber" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyAgentINDAssociation" type="StudyAgentINDAssociationType"/>
    <xs:complexType name="StudyAgentINDAssociationType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">     
               <xs:sequence>
                    <xs:element ref="investigationalNewDrug"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"/>
    <xs:complexType name="InvestigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="indNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="meddraStudyDisease" type="MeddraStudyDiseaseType"/>
    <xs:complexType name="MeddraStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                
                <xs:sequence>
                    <xs:element name="meddraCode" type="CustomStringType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="ctepStudyDisease" type="CtepStudyDiseaseType"/>
    <xs:complexType name="CtepStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="diseaseTerm"/>
                    <xs:element name="leadDisease" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    

    <xs:element name="diseaseTerm" type="DiseaseTermType"/>
    <xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:choice>
                    <xs:element name="term" type="CustomStringType"/>
                    <xs:element name="meddraCode" type="CustomStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationAssignedIdentifier" type="OrganizationAssignedIdentifierType"/>
    <xs:complexType name="OrganizationAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element ref="organization"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="systemAssignedIdentifier" type="SystemAssignedIdentifierType"/>
    <xs:complexType name="SystemAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element name="systemName" type="CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="identifier" type="IdentifierType"/>
    <xs:complexType name="IdentifierType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="type" type="StudyIdentifierType"/>
                    <xs:element name="value" type="CustomStringType"/>
                    <xs:element name="primaryIndicator" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ReducedIdentifierType" >
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="value" type="CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CoordinatingCenterType">
        <xs:sequence>
            <xs:element name="organizationAssignedIdentifier" type="ReducedIdentifierType"/>
            <xs:element ref="studyCoordinatingCenter"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="FundingSponsorType">
        <xs:sequence>
            <xs:element name="organizationAssignedIdentifier" type="ReducedIdentifierType"/>
            <xs:element ref="studyFundingSponsor"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="diseaseTerminology" type="DiseaseTerminologyType"/>
    <xs:complexType name="DiseaseTerminologyType">
        <xs:sequence>
            <xs:element type="DiseaseCodeType" name="diseaseCodeTerm"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="aeTerminology" type="AeTerminologyType"/>
    <xs:complexType name="AeTerminologyType">
        <xs:choice>
            <xs:element ref="ctcVersion"/>
            <xs:element ref="meddraVersion"/>
        </xs:choice>
    </xs:complexType>

 
    <xs:element name="ctcVersion" type="CtcVersionType"/>
    <xs:complexType name="CtcVersionType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="StudyCtcVersionType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="meddraVersion" type="MeddraVersionType"/>
    <xs:complexType name="MeddraVersionType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="StudyMeddraVersionType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


	<xs:element name="evaluationPeriod" type="EvaluationPeriodType"/>
	<xs:annotation>
            <xs:documentation>One EvaluationPeriod with name as "Baseline" is mandatory</xs:documentation>
    </xs:annotation>
    <xs:complexType name="EvaluationPeriodType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="descriptionText" type="xs:string" minOccurs="0"/>
                    <xs:element name="epochOrder" type="xs:int"/>
                     <xs:element name="solicitedAdverseEvents" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="solicitedAdverseEvent" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:element name="solicitedAdverseEvent" type="SolicitedAdverseEventType"/>
    <xs:complexType name="SolicitedAdverseEventType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="ctepCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="meddraCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherMeddraCode" type="xs:string"  minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:element name="expectedAECtcTerm" type="ExpectedAECtcTermType"/>
    <xs:complexType name="ExpectedAECtcTermType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="ctepCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherMeddraCode" type="xs:string"  minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:element name="expectedAEMeddraTerm" type="ExpectedAEMeddraTermType"/>
    <xs:complexType name="ExpectedAEMeddraTermType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="meddraCode" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- START - DEVICE RELATED CHANGES -->

    <xs:element name="device" type="DeviceType" />
    <xs:complexType name="DeviceType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="commonName" type="xs:string" minOccurs="0"/>
                    <xs:element name="brandName" type="xs:string" minOccurs="0"/>
                    <xs:element name="type" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyDevice" type="StudyDeviceType"/>
    <xs:complexType name="StudyDeviceType">
        <xs:complexContent>
            <xs:extension base="StudyInterventionType">
                <xs:sequence>
                    <xs:element ref="device"/>
                    <xs:element name="otherBrandName" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherCommonName" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherDeviceType" type="xs:string" minOccurs="0"/>
                    <xs:element name="catalogNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerName" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerCity" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerState" type="xs:string" minOccurs="0"/>
                    <xs:element name="modelNumber" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyIntervention" type="StudyInterventionType"/>
    <xs:complexType name="StudyInterventionType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="studyTherapyType" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- END - DEVICE RELATED CHANGES -->

    <!-- FIXED Types  -->
    
    <xs:simpleType name="StudyPhaseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Phase I Trial"/>
            <xs:enumeration value="Phase I/II Trial"/>
            <xs:enumeration value="Phase II Trial"/>
            <xs:enumeration value="Phase III Trial"/>
            <xs:enumeration value="Phase IV Trial"/>
            <xs:enumeration value="Phase 0 Trial"/>
            <xs:enumeration value="Pilot"/>
        </xs:restriction>
    </xs:simpleType> 

    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active - Trial is open to accrual"/>
            <xs:enumeration value="Administratively Complete"/>
            <xs:enumeration value="Approved - Trial has official CTEP approval"/>
            <xs:enumeration value="Temporarily Closed to Accrual &amp; Treatment"/>
            <xs:enumeration value="Temporarily Closed to Accrual"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="StudyIdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrials.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
            <xs:enumeration value="NCI Assigned Identifier"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyCtcVersionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyMeddraVersionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="RoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPI">
            	<xs:annotation>
					  <xs:documentation>Site Principal Investigator</xs:documentation>
 				</xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SI">
                <xs:annotation>
					  <xs:documentation>Site Investigator</xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
            <xs:enumeration value="PI">
                <xs:annotation>
					  <xs:documentation>Principal Investigator</xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PersonnelRoleCodeType">
        <xs:restriction base="xs:string">

 			<xs:enumeration value="system_administrator">
               <xs:annotation>
					  <xs:documentation>System Administrator</xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
 			<xs:enumeration value="business_administrator">
               <xs:annotation>
					  <xs:documentation>Business Administrator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
 			<xs:enumeration value="person_and_organization_information_manager">
               <xs:annotation>
					  <xs:documentation>Person and Organization Information Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
 			<xs:enumeration value="data_importer">
               <xs:annotation>
					  <xs:documentation>Data Importer </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="user_administrator">
               <xs:annotation>
					  <xs:documentation>User Admin</xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="study_qa_manager">
               <xs:annotation>
					  <xs:documentation>Study QA Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="study_creator">
               <xs:annotation>
					  <xs:documentation>Study Creator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="supplemental_study_information_manager">
               <xs:annotation>
					  <xs:documentation>Supplemantal Study Information Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="study_team_administrator">
               <xs:annotation>
					  <xs:documentation>Study Team Admin  </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="study_site_participation_administrator">
               <xs:annotation>
					  <xs:documentation>Study Site Participation Admin  </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="ae_rule_and_report_manager">
               <xs:annotation>
					  <xs:documentation>AE Rule and Report Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="study_calendar_template_builder">
               <xs:annotation>
					  <xs:documentation>Study Calendar Template Builder </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="registration_qa_manager">
               <xs:annotation>
					  <xs:documentation>Registration QA Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="subject_manager">
               <xs:annotation>
					  <xs:documentation>Subject Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="study_subject_calendar_manager">
               <xs:annotation>
					  <xs:documentation>Study Subject Calendar Manager </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="registrar">
               <xs:annotation>
					  <xs:documentation>Registrar </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="ae_reporter">
               <xs:annotation>
					  <xs:documentation>AE Reporter </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="ae_expedited_report_reviewer">
               <xs:annotation>
					  <xs:documentation>AE Expedited Report Reviewer </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="ae_study_data_reviewer">
               <xs:annotation>
					  <xs:documentation>AE Study Data Reviewer </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="lab_impact_calendar_notifier">
               <xs:annotation>
					  <xs:documentation>Lab Impact Calendar Notifier </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 			
 			<xs:enumeration value="lab_data_user">
              	<xs:annotation>
					  <xs:documentation>Lab Data User </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="data_reader">
              	<xs:annotation>
					  <xs:documentation>Data Reader </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 
 			<xs:enumeration value="data_analyst">
              	<xs:annotation>
					  <xs:documentation>Data Analyst </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration> 

        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="DiseaseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTEP"/>
            <xs:enumeration value="MEDDRA"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DesignCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"/>
            <xs:enumeration value="OPEN_UNBLIND"/>
            <xs:enumeration value="PARTIAL"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IndType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NA_COMMERCIAL"/>
            <xs:enumeration value="IND_EXEMPT"/>
            <xs:enumeration value="DCP_IND"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="CTEP_IND"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EvalPeriodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Baseline"/>
            <xs:enumeration value="Pre-Treatment"/>
            <xs:enumeration value="Treatment"/>
            <xs:enumeration value="Post-treatment"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
           <xs:minLength value="1"/>
           <xs:whiteSpace value="collapse"/> 
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="ResponseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>    
    </xs:simpleType>
	
	<xs:element name="Response" type="Response" />
    <xs:complexType name="Response">
    	<xs:sequence>
    		<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
    		<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    	</xs:sequence>
    	<xs:attribute name="responsecode" type="ResponseCodeType"></xs:attribute>
    </xs:complexType>
    
    <xs:element name="CaaersServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Response" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>