caAERS/software/core/src/main/resources/schema/integration/StudySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/study"
           xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/study"
    xmlns:cct="http://schema.integration.caaers.cabig.nci.nih.gov/common"
    elementFormDefault="unqualified">

    <xs:import namespace="http://schema.integration.caaers.cabig.nci.nih.gov/common" schemaLocation="caAERSCommonTypes.xsd"/>

    <xs:element name="studies">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="study" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="study" type="study"/>
    <xs:complexType name="study">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">

                <xs:sequence>
                    <xs:element name="shortTitle" type="cct:CustomStringType" />
                    <xs:element name="longTitle" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="precis" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="description" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="phaseCode" type="StudyPhaseType" />
                    <xs:element name="status" type="StatusType" minOccurs="0"/>
                    <xs:element name="multiInstitutionIndicator" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="adeersReporting" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="otherMeddra" type="xs:string" minOccurs="0"/>
                    <xs:element name="studyPurpose" type="xs:string" minOccurs="0"/>
                    <xs:element name="aeTermUnique" type="xs:boolean" minOccurs="0"/>
                    <xs:element ref="aeTerminology"/>

                    <xs:element ref="diseaseTerminology"/>
                    <xs:element name="design" type="DesignCodeType" minOccurs="0"/>
                    
                    <xs:element name="drugAdministrationTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="deviceTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="radiationTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="surgeryTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="behavioralTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="biologicalTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="geneticTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="dietarySupplementTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="otherTherapyType" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>

                    <xs:element name="reportTypeCaaersXML" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeAdeersPDF" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeMedwatchPDF" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeDCPSAEForm" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeCIOMSForm" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reportTypeCIOMSAEForm" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>

                    <xs:element name="fundingSponsor" type="FundingSponsorType" />
                    <xs:element name="coordinatingCenter" type="CoordinatingCenterType"/>
                    
                    <xs:element name="studyOrganizations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studySite" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="identifiers" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="organizationAssignedIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="systemAssignedIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    
                    <xs:element name="treatmentAssignments" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="treatmentAssignment" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="studyAgents" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgent" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:choice minOccurs="0">
	                    <xs:element name="ctepStudyDiseases">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="ctepStudyDisease"  maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
	                    
	                    <xs:element name="meddraStudyDiseases">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="meddraStudyDisease" maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
                    </xs:choice>
                    
                    <xs:element name="evaluationPeriods" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="evaluationPeriod" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="studyDevices" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyDevice" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:choice minOccurs="0">
	                    <xs:element name="expectedAECtcTerms">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="expectedAECtcTerm"  maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
	                    
	                    <xs:element name="expectedAEMeddraTerms">
	                        <xs:complexType>
	                            <xs:sequence>
	                                <xs:element ref="expectedAEMeddraTerm" maxOccurs="unbounded"/>
	                            </xs:sequence>
	                        </xs:complexType>
	                    </xs:element>
                    </xs:choice>
					
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyFundingSponsor" type="StudyFundingSponsorType"/>
    <xs:complexType name="StudyFundingSponsorType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">

                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="studySite" type="StudySiteType"/>
    <xs:complexType name="StudySiteType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="startDate"  type="xs:date" minOccurs="0" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="studyCoordinatingCenter" type="StudyCoordinatingCenterType"/>
    <xs:complexType name="StudyCoordinatingCenterType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" 
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" 
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
    <xs:element name="studyInvestigator" type="StudyInvestigatorType"/>
    <xs:complexType name="StudyInvestigatorType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="roleCode" type="cct:RoleCodeType"/>
                    <xs:element name="startDate"  type="xs:date" minOccurs="0" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="siteInvestigator"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyPersonnel" type="StudyPersonnelType"/>
    <xs:complexType name="StudyPersonnelType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="roleCode" type="cct:PersonnelRoleCodeType" />
                    <xs:element name="startDate"  type="xs:date" minOccurs="0" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="researchStaff"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"/>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element ref="investigator" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="investigator" type="InvestigatorType"/>
    <xs:complexType name="InvestigatorType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="firstName" type="cct:CustomStringType"/>
                    <xs:element name="lastName" type="cct:CustomStringType"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="researchStaff" type="ResearchStaffType"/>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="firstName" type="cct:CustomStringType"/>
                    <xs:element name="lastName" type="cct:CustomStringType"/>
                    <xs:element name="nciIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="cct:OrganizationType"/>

    
    <xs:element name="treatmentAssignment" type="TreatmentAssignmentType"/>
    <xs:complexType name="TreatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="ctepDbIdentifier" type="xs:string" minOccurs="0" />
                    <xs:element name="code" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="doseLevelOrder" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="description" type="cct:CustomStringType"/>
                    <xs:element name="comments" type="cct:CustomStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="studyAgent" type="StudyAgentType"/>
    <xs:complexType name="StudyAgentType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="agent"/>
                        <xs:element name="otherAgent" type="cct:CustomStringType"/>
                    </xs:choice>
                    <xs:element type="IndType" name="indType" minOccurs="0"/>
                    <xs:element type="xs:boolean" name="partOfLeadIND" minOccurs="0" />
                    <xs:element name="studyAgentINDAssociations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgentINDAssociation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agent" type="AgentType"/>
    <xs:complexType name="AgentType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="nscNumber" type="xs:string" minOccurs="0" />
                    <xs:element name="name" type="cct:CustomStringType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyAgentINDAssociation" type="StudyAgentINDAssociationType"/>
    <xs:complexType name="StudyAgentINDAssociationType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">     
               <xs:sequence>
                    <xs:element ref="investigationalNewDrug"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"/>
    <xs:complexType name="InvestigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="indNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="meddraStudyDisease" type="MeddraStudyDiseaseType"/>
    <xs:complexType name="MeddraStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="meddraCode" type="cct:CustomStringType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="ctepStudyDisease" type="CtepStudyDiseaseType"/>
    <xs:complexType name="CtepStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element ref="diseaseTerm"/>
                    <xs:element name="leadDisease" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    

    <xs:element name="diseaseTerm" type="DiseaseTermType"/>
    <xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="term" type="cct:CustomStringType" minOccurs="0"/>
                    <xs:element name="meddraCode" type="cct:CustomStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationAssignedIdentifier" type="OrganizationAssignedIdentifierType"/>
    <xs:complexType name="OrganizationAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element ref="organization"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="systemAssignedIdentifier" type="SystemAssignedIdentifierType"/>
    <xs:complexType name="SystemAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element name="systemName" type="cct:CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="identifier" type="IdentifierType"/>
    <xs:complexType name="IdentifierType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="type" type="StudyIdentifierType"/>
                    <xs:element name="value" type="cct:CustomStringType"/>
                    <xs:element name="primaryIndicator" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ReducedIdentifierType" >
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="value" type="cct:CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CoordinatingCenterType">
        <xs:sequence>
            <xs:element name="organizationAssignedIdentifier" type="ReducedIdentifierType"/>
            <xs:element ref="studyCoordinatingCenter"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="FundingSponsorType">
        <xs:sequence>
            <xs:element name="organizationAssignedIdentifier" type="ReducedIdentifierType"/>
            <xs:element ref="studyFundingSponsor"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="diseaseTerminology" type="DiseaseTerminologyType"/>
    <xs:complexType name="DiseaseTerminologyType">
        <xs:sequence>
            <xs:element type="DiseaseCodeType" name="diseaseCodeTerm"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="aeTerminology" type="AeTerminologyType"/>
    <xs:complexType name="AeTerminologyType">
        <xs:choice>
            <xs:element ref="ctcVersion"/>
            <xs:element ref="meddraVersion"/>
        </xs:choice>
    </xs:complexType>

 
    <xs:element name="ctcVersion" type="CtcVersionType"/>
    <xs:complexType name="CtcVersionType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="StudyCtcVersionType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="meddraVersion" type="MeddraVersionType"/>
    <xs:complexType name="MeddraVersionType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="StudyMeddraVersionType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


	<xs:element name="evaluationPeriod" type="EvaluationPeriodType"/>
	<xs:annotation>
            <xs:documentation>One EvaluationPeriod with name as "Baseline" is mandatory</xs:documentation>
    </xs:annotation>
    <xs:complexType name="EvaluationPeriodType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="descriptionText" type="xs:string" minOccurs="0"/>
                    <xs:element name="epochOrder" type="xs:int"/>
                     <xs:element name="solicitedAdverseEvents" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="solicitedAdverseEvent" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:element name="solicitedAdverseEvent" type="SolicitedAdverseEventType"/>
    <xs:complexType name="SolicitedAdverseEventType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="ctepCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="meddraCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherMeddraCode" type="xs:string"  minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:element name="expectedAECtcTerm" type="ExpectedAECtcTermType"/>
    <xs:complexType name="ExpectedAECtcTermType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="ctepCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherMeddraCode" type="xs:string"  minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
	<xs:element name="expectedAEMeddraTerm" type="ExpectedAEMeddraTermType"/>
    <xs:complexType name="ExpectedAEMeddraTermType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType">
                <xs:sequence>
                    <xs:element name="meddraCode" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- START - DEVICE RELATED CHANGES -->

    <xs:element name="device" type="cct:DeviceType" />

    <xs:element name="studyDevice" type="StudyDeviceType"/>
    <xs:complexType name="StudyDeviceType">
        <xs:complexContent>
            <xs:extension base="StudyInterventionType">
                <xs:sequence>
                    <xs:element ref="device" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="otherBrandName" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherCommonName" type="xs:string" minOccurs="0"/>
                    <xs:element name="otherDeviceType" type="xs:string" minOccurs="0"/>
                    <xs:element name="catalogNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerName" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerCity" type="xs:string" minOccurs="0"/>
                    <xs:element name="manufacturerState" type="xs:string" minOccurs="0"/>
                    <xs:element name="modelNumber" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyIntervention" type="StudyInterventionType"/>
    <xs:complexType name="StudyInterventionType">
        <xs:complexContent>
            <xs:extension base="cct:MutableDomainObjectType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- END - DEVICE RELATED CHANGES -->

    <!-- FIXED Types  -->
    
    <xs:simpleType name="StudyPhaseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Phase I Trial"/>
            <xs:enumeration value="Phase I/II Trial"/>
            <xs:enumeration value="Phase II/III Trial"/>
            <xs:enumeration value="Phase II Trial"/>
            <xs:enumeration value="Phase III Trial"/>
            <xs:enumeration value="Phase IV Trial"/>
            <xs:enumeration value="Phase 0 Trial"/>
            <xs:enumeration value="Pilot"/>
            <xs:enumeration value="N/A"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType> 

    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active - Trial is open to accrual"/>
            <xs:enumeration value="Administratively Complete"/>
            <xs:enumeration value="Approved - Trial has official CTEP approval"/>
            <xs:enumeration value="Temporarily Closed to Accrual &amp; Treatment"/>
            <xs:enumeration value="Temporarily Closed to Accrual"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="StudyIdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrials.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
            <xs:enumeration value="NCI Assigned Identifier"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyCtcVersionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="StudyMeddraVersionType">
        <xs:restriction base="xs:string" />
    </xs:simpleType>


    <xs:simpleType name="DiseaseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTEP"/>
            <xs:enumeration value="MEDDRA"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DesignCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"/>
            <xs:enumeration value="OPEN_UNBLIND"/>
            <xs:enumeration value="PARTIAL"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IndType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NA_COMMERCIAL"/>
            <xs:enumeration value="IND_EXEMPT"/>
            <xs:enumeration value="DCP_IND"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="CTEP_IND"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EvalPeriodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Baseline"/>
            <xs:enumeration value="Pre-Treatment"/>
            <xs:enumeration value="Treatment"/>
            <xs:enumeration value="Post-treatment"/>
        </xs:restriction>
    </xs:simpleType>
    


</xs:schema>