caAERS/software/web/src/main/resources/gov/nih/nci/cabig/caaers/studyXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="studies">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="study" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="DomainObject">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>


    <xs:complexType name="MutableDomainObject">
        <xs:complexContent>
            <xs:extension base="DomainObject">
                <xs:attribute name="version" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="study" type="study"/>
    <xs:complexType name="study">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">

                <xs:sequence>
                    <xs:element type="customStringType" name="shortTitle" />
                    <xs:element type="customStringType" name="longTitle" />
                    <xs:element type="customStringType" name="precis" minOccurs="0"/>
                    <xs:element type="customStringType" name="description" minOccurs="0"/>
                    <xs:element type="studyPhaseType" name="phaseCode" />
                    <xs:element type="statusType" name="status"/>
                    <xs:element type="xs:boolean" name="multiInstitutionIndicator"/>
                    <xs:element type="xs:boolean" name="adeersReporting"/>
                    <xs:element ref="aeTerminology"/>
                    <xs:element ref="diseaseTerminology"/>
                    <xs:element type="designCodeType" name="design" minOccurs="0"/>
                               
                    <xs:element type="xs:boolean" name="drugAdministrationTherapyType"  minOccurs="0"/>
                    <xs:element type="xs:boolean" name="deviceTherapyType"  minOccurs="0"/>
                    <xs:element type="xs:boolean" name="radiationTherapyType"  minOccurs="0"/>
                    <xs:element type="xs:boolean" name="surgeryTherapyType"  minOccurs="0"/>
                    <xs:element type="xs:boolean" name="behavioralTherapyType"  minOccurs="0"/>
                    
                    <xs:element name="fundingSponsor" type="fundingSponsorType" />
                    <xs:element name="coordinatingCenter" type="coordinatingCenterType"/>
                    
                    <xs:element name="studyOrganizations">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studySite" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="identifiers" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="organizationAssignedIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="systemAssignedIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    
                    <xs:element name="treatmentAssignments" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="treatmentAssignment" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="studyAgents" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgent" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                    <xs:choice minOccurs="0">
                    <xs:element name="ctepStudyDiseases">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="ctepStudyDisease"  maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="meddraStudyDiseases">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="meddraStudyDisease" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    </xs:choice>
                    

                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="studyFundingSponsor" type="studyFundingSponsorType"/>
    <xs:complexType name="studyFundingSponsorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">

                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="studySite" type="studySiteType"/>
    <xs:complexType name="studySiteType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyCoordinatingCenter" type="studyCoordinatingCenterType"/>
    <xs:complexType name="studyCoordinatingCenterType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="organization"/>
                    <xs:element name="studyInvestigators" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyInvestigator" 
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="studyPersonnels" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyPersonnel" 
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
    <xs:element name="studyInvestigator" type="studyInvestigatorType"/>
    <xs:complexType name="studyInvestigatorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="roleCode" type="roleCodeType"/>
                    <xs:element name="statusCode" type="statusCodeType"/>
                    <xs:element ref="siteInvestigator"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyPersonnel" type="studyPersonnelType"/>
    <xs:complexType name="studyPersonnelType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="roleCode" type="personnelRoleCodeType" />
                    <xs:element name="statusCode" type="statusCodeType"/>
                    <xs:element ref="researchStaff"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="siteInvestigatorType"/>
    <xs:complexType name="siteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="investigator" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="investigator" type="investigatorType"/>
    <xs:complexType name="investigatorType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="firstName" type="customStringType"/>
                    <xs:element name="lastName" type="customStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="researchStaff" type="researchStaffType"/>
    <xs:complexType name="researchStaffType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="firstName" type="customStringType"/>
                    <xs:element name="lastName" type="customStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="organizationType"/>
    <xs:complexType name="organizationType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="customStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="treatmentAssignment" type="treatmentAssignmentType"/>
    <xs:complexType name="treatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="code" type="customStringType"/>
                    <xs:element name="doseLevelOrder" type="customStringType" minOccurs="0"/>
                    <xs:element name="description" type="customStringType"/>
                    <xs:element name="comments" type="customStringType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="studyAgent" type="studyAgentType"/>
    <xs:complexType name="studyAgentType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="agent"/>
                        <xs:element name="otherAgent" type="customStringType"/>
                    </xs:choice>
                    <xs:element type="indType" name="indType"/>
                    <xs:element type="xs:boolean" name="partOfLeadIND" minOccurs="0" />
                    <xs:element name="studyAgentINDAssociations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="studyAgentINDAssociation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agent" type="agentType"/>
    <xs:complexType name="agentType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:choice>
                    <xs:element name="name" type="customStringType"/>
                    <xs:element name="nscNumber" type="customStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="studyAgentINDAssociation" type="studyAgentINDAssociationType"/>
    <xs:complexType name="studyAgentINDAssociationType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">     
               <xs:sequence>
                    <xs:element ref="investigationalNewDrug"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="investigationalNewDrug" type="investigationalNewDrugType"/>
    <xs:complexType name="investigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="indNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="meddraStudyDisease" type="meddraStudyDiseaseType"/>
    <xs:complexType name="meddraStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                
                <xs:sequence>
                    <xs:element name="meddraCode" type="customStringType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:element name="ctepStudyDisease" type="ctepStudyDiseaseType"/>
    <xs:complexType name="ctepStudyDiseaseType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element ref="diseaseTerm"/>
                    <xs:element name="leadDisease" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    

    <xs:element name="diseaseTerm" type="diseaseTermType"/>
    <xs:complexType name="diseaseTermType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:choice>
                    <xs:element name="term" type="customStringType"/>
                    <xs:element name="meddraCode" type="customStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationAssignedIdentifier" type="organizationAssignedIdentifierType"/>
    <xs:complexType name="organizationAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="identifierType">
                <xs:sequence>
                    <xs:element ref="organization"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="systemAssignedIdentifier" type="systemAssignedIdentifierType"/>
    <xs:complexType name="systemAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="identifierType">
                <xs:sequence>
                    <xs:element name="systemName" type="customStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="identifier" type="identifierType"/>
    <xs:complexType name="identifierType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="type" type="studyIdentifierType"/>
                    <xs:element name="value" type="customStringType"/>
                    <xs:element name="primaryIndicator" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="reducedIdentifierType" >
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="value" type="customStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="coordinatingCenterType">
        <xs:sequence>
            <xs:element name="organizationAssignedIdentifier" type="reducedIdentifierType"/>
            <xs:element ref="studyCoordinatingCenter"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="fundingSponsorType">
        <xs:sequence>
            <xs:element name="organizationAssignedIdentifier" type="reducedIdentifierType"/>
            <xs:element ref="studyFundingSponsor"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="diseaseTerminology" type="diseaseTerminologyType"/>
    <xs:complexType name="diseaseTerminologyType">
        <xs:sequence>
            <xs:element type="diseaseCodeType" name="diseaseCodeTerm"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="aeTerminology" type="aeTerminologyType"/>
    <xs:complexType name="aeTerminologyType">
        <xs:choice>
            <xs:element ref="ctcVersion"/>
            <xs:element ref="meddraVersion"/>
        </xs:choice>
    </xs:complexType>

 
    <xs:element name="ctcVersion" type="ctcVersionType"/>
    <xs:complexType name="ctcVersionType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="studyCtcVersion"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="meddraVersion" type="meddraVersionType"/>
    <xs:complexType name="meddraVersionType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                    <xs:element name="name" type="studyMeddraVersion"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- FIXED Types  -->
    
    <xs:simpleType name="studyPhaseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Phase I Trial"/>
            <xs:enumeration value="Phase I/II Trial"/>
            <xs:enumeration value="Phase II Trial"/>
            <xs:enumeration value="Phase III Trial"/>
            <xs:enumeration value="Phase IV Trial"/>
            <xs:enumeration value="Phase 0 Trial"/>
            <xs:enumeration value="Pilot"/>
        </xs:restriction>
    </xs:simpleType> 

    <xs:simpleType name="statusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active - Trial is open to accrual"/>
            <xs:enumeration value="Administratively Complete"/>
            <xs:enumeration value="Approved - Trial has official CTEP approval"/>
            <xs:enumeration value="Temporarily Closed to Accrual &amp; Treatment"/>
            <xs:enumeration value="Temporarily Closed to Accrual"/>
        </xs:restriction>
    </xs:simpleType> 
    
    <xs:simpleType name="studyIdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrials.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="studyCtcVersion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="studyMeddraVersion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="roleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Principle Investigator"/>
            <xs:enumeration value="Site Investigator"/>
            <xs:enumeration value="Principal Investigator"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="personnelRoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Participant Coordinator"/>
            <xs:enumeration value="Study Coordinator"/>
            <xs:enumeration value="Adverse Event Coordinator"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:simpleType name="statusCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active"/>
            <xs:enumeration value="Inactive"/>
        </xs:restriction>    
    </xs:simpleType>
    
    <xs:simpleType name="diseaseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTEP"/>
            <xs:enumeration value="MEDDRA"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="designCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"/>
            <xs:enumeration value="OPEN_UNBLIND"/>
            <xs:enumeration value="PARTIAL"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="indType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NA_COMMERCIAL"/>
            <xs:enumeration value="IND_EXEMPT"/>
            <xs:enumeration value="DCP_IND"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="CTEP_IND"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="customStringType">
        <xs:restriction base="xs:normalizedString">
           <xs:minLength value="1"/>
           <xs:whiteSpace value="collapse"/> 
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>